<!-- VENTANA MODAL - MODIFICAR LA FECHA DE LA FACTURA -->
<div class="row mt-3">
<div class="col">
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="VentanaAsignatura" tabindex="-1" role="dialog" aria-labelledby="VentanaAsignatura" aria-hidden="true">
<div class="modal-dialog modal-md">
	<div class="modal-content">
		<div class="modal-header bg-gradient-navy p-1">
			<h6 class="modal-title" id="">
        <span class="fad fa-layer-group"></span>
          <label for="LblTitulo">Asignatura | </label>
      </h6>
			<button class="close" type = "button" data-dismiss="modal" aria-label="Cerrar" id="VentanaAsignatura1">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<!-- FORMULARIO PRINCIPAL. -->
		<form action="" method="post" name="formVentanaAsignatura" id="formVentanaAsignatura" role="form" enctype="multipart/form-data">
      <!-- SECCION DEL HIDDEN INPUT-->
      <input type="hidden" id="accion_asignatura" name="accion_asignatura" value="GuardarAsignatura">

			<div class="modal-body">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-12 col-lg-12 col-xl-12">
                <fieldset id="FieldsetBusquedaTiquete">
                    <legend> Asignatura | Sistema Educativo</legend>
                        <div class="row">
                            <div class="col col-md-12 col-lg-12 col-xl-12">
                                <div class="input-group">
                                    <span class="input-group-text text-info" id="TextoSE" name="TextoSE"></span>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset id="FieldsetProduccion">
                        <legend> Asignatura | Información General</legend>
                            <div class="row">
                                <div class="col">
                                      <div class="input-group">
                                        <span class="input-group-text">Estatus</span>
                                        <select class="custom-select" name="lstEstatus" id="lstEstatus"></select>
                                      </div>
                                      <div class="input-group">
                                        <span class="input-group-text">Área</span>
                                        <select class="custom-select" name="lstArea" id="lstArea"></select>
                                      </div>
                                      <div class="input-group">
                                        <span class="input-group-text">Dimensión</span>
                                        <select class="custom-select" name="lstDimension" id="lstDimension"></select>
                                      </div>
                                      <div class="input-group">
                                        <span class="input-group-text">Subdimensión</span>
                                        <select class="custom-select" name="lstSubDimension" id="lstSubDimension"></select>
                                      </div>
                                      <div class="input-group">
                                        <span class="input-group-text">Indicador/Calificación</span>
                                        <select class="custom-select" name="lstIndicadorCalificacion" id="lstIndicadorCalificacion"></select>
                                      </div>

                                    <div class="input-group">
                                        <div class="input-group mb-1">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text bg-gradient-gray-dark" id="basic-addon2">Id</span>
                                            </div>
                                            <input type="text" class="form-control text-bold text-blue" id="IdAsignatura" name = "IdAsignatura" placeholder="" aria-label="BusquedaFechaControl" aria-describedby="basic-addon2" readonly>
                                          </div>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group mb-1">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text bg-gradient-gray-dark" id="basic-addon3">Código</span>
                                            </div>
                                            <input type="text" class="form-control text-bold text-blue" id="CodigoAsignatura" name="CodigoAsignatura" placeholder="" aria-label="BusquedaPersonalControl" aria-describedby="basic-addon3" readonly>
                                          </div>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group mb-1">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text bg-gradient-gray-dark" id="basic-addon4">Orden</span>
                                            </div>
                                            <input type="number" class="form-control text-bold text-blue" id="OrdenAsignatura" name="OrdenAsignatura" placeholder="" aria-label="BusquedaRutaControl" aria-describedby="basic-addon4" value="1">
                                          </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="DescripcionAsignatura">Descripción</label>
                                      <textarea id="DescripcionAsignatura" class="form-control" name="DescripcionAsignatura"></textarea>
                                    </div>
                                </div>
                            </div>
                    </fieldset>
                </div>
              </div> <!-- ROW -->
            </div> <!-- CONTAINER -->
          </div> <!-- MODAL BODY -->
            <!-- footer modal -->
            <div class="modal-footer bg-gradient-cyan p-0">
              <button class="btn btn-default" data-dismiss="modal" type="button">Cerrar</button>
              <input class="btn btn-primary" type="button" value="Guardar" name="goGuardarAsignatura" id="goGuardarAsignatura">
            </div>
        </form> <!-- from principal -->
	</div>
</div>
</div>
</div>			
</div>