{# Heredando la plantilla principal #}

{% extends 'default_layout.html' %}

{% block extraCSS %}
{% endblock %}

{% block javascripts %}
<script type="text/JavaScript" src="js/Calificaciones/porAsignatura.js"></script>
<script type="text/JavaScript" src="js/Utilidades/cargarDatosSelect.js"></script>
<script type="text/JavaScript" src="js/Utilidades/utilidadesSelect.js"></script>

{% endblock %}

{% block contenidos %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="container mt-4">
        <div class="card">
            <div class="card-header bg-primary text-white">Calificaciones por Asignatura</div>
            <div class="card-body">
                <form id="formFiltros">
                    <div class="row mb-3">
                        <div class="col">
                            <label>Año Lectivo</label>
                            <select id="lstannlectivo" class="form-select"></select>
                        </div>
                        <div class="col">
                            <label>Modalidad</label>
                            <select id="lstmodalidad" class="form-select"></select>
                        </div>
                        <div class="col">
                            <label>Período</label>
                            <select id="lstperiodo" class="form-select"></select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label>Grado/Sección</label>
                            <select id="lstgradoseccion" class="form-select"></select>
                        </div>
                        <div class="col">
                            <label>Asignatura</label>
                            <select id="lstasignatura" class="form-select"></select>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-success mt-4" id="btnBuscar">Buscar</button>
                        </div>
                    </div>
                </form>
    
                <table id="tablaNotas" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>id_notas</th>
                            <th>Código NIE</th>
                            <th>Estudiante</th>
                            <th>A1</th>
                            <th>A2</th>
                            <th>A3</th>
                            <th>Recup.</th>
                            <th>Nota PP</th>
                            <th style="display:none">codigo_cc</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
    
                <button class="btn btn-primary" id="btnGuardar">Guardar Notas</button>
            </div>
        </div>
    </div>
    


</div>

{% endblock %}

{% block menu %}
<!-- plantilla que contiene el menú principal. -->
		{% include 'layout-menu.html' %}
{% endblock %}

{% block loginUser %}
<!--	{% include 'layout-login-user.html' %} -->
{% endblock %}