{# Heredando la plantilla principal #}

{% extends 'default_layout.html' %}

{% block extraCSS %}
<style>
  #listadoEstudiantes
  {
    width: 100%;
  }
  .ColorFila
  {
    background-color: rgb(223, 252, 234);
  }
</style>
{% endblock %}

{% block javascripts %}
    <!-- JS para esta página. -->
    <script type="text/JavaScript" src="js/Estudiantes/Estudiantes.js"></script>
    <script>
      // Activar los Toottip de los botones y input.
      $(document).ready(function () { 
        $('[data-toggle="tooltip"]').tooltip();
      })
    </script>
{% endblock %}

{% block contenidos %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper fondoBody">
    <!-- Content Header (Page header) 
    Se elimino content-header section solo se va dejar Main Content -->
    
  <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header bg-gradient-navy">
              <div class="d-flex flex-row w-100 justify-content-between">
                <div>
                  <h3 class="card-title"><i class="fal fa-users-class"></i> Estudiantes</h3>
                </div>
                <div>
                    <!-- Buttons, labels, and many other things can be placed here! -->
                      <!-- Here is a label for example -->
                      <form  action="" method="post" name="formBuscar" id="formBuscar" role="form">
                        <!-- INPUT HIDE CONTROLA EL GUARDO DEL REGISTRO..-->
                        <input type="hidden" id="accion_buscar" name="accion_buscar" value = "GenerarCodigoNuevo" class="{required:true}">
                            <!-- Contextual button for informational alert messages -->
                            <button type="button" class="btn btn-success btn-md" data-toggle="tooltip" data-placement="left" title="Nuevo Estudiante" id = "goNuevoUser">
                              <span class="fal fa-user-plus"></span>
                            </button>
                      </form>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="listadoEstudiantes" class="table table-bordered table-hover table-responsive nowrap">
                <thead>
                  <tr class="ColorFila">
                      <th>Acción</th>
                      <th>Id</th>
                      <th>NIE</th>
                      <th>Nombre Completo</th>
                      <th>Fec. Nac.</th>
                      <th>Edad</th>
                      <th>Estatus</th>
                      <th>Encargado Nombre</th>
                      <th>Fecha Nacimiento: </th>
                      <th>Familiar: </th>
                      <th>DUI: </th>
                      <th>Dirección:</th>
                      <th>N.º Teléfono:</th>
                    </tr>                
                </thead>
                  <tbody id="listadoEstudiantesOk">
                  </tbody>
                  <tfoot>

                  </tfoot>
              </table>
            </div> <!-- /.card-body -->
            <!-- /.card-footer -->
            <div class="card-footer bg-gradient-navy">
              
            </div>
          </div> <!-- /.card -->
        </div>
      </div>
    </section>  
</div> <!-- /.content-Wrapper, Contains page content. -->
{% endblock %}

{% block loginUser %}
<!--	{% include 'layout-login-user.html' %} -->
{% endblock %}