/docs/
/img/
/images/
/assets/
/formatos_hoja_de_calculo/
/js/bootstrap-select/
/js/Chart.js-2.7.0/
/js/jquery-validation-1.10.0/
/js/jquery-validation-1.19.1/
/js/plugins/
/js/popper/
/php_libs/fpdf182/
/php_libs/fpdf/
/php_libs/Twig
/vendor/
/vendore/
/webfonts/
/php_libs/PHPMailer/
/css/alt/
/files/
/js/file-input/
/js/sweetalert2/
/js/toastr/
/js/pace/
/js/jqueryNumeric/
/js/jquery-mask/
/.vscode/
/js/pace-1.2.4/