# CARPETA INCLUDE
/includes/backup.bat
# CARPTA QUE CONTIENE ADMINLTE 3.1 Y BOOTSTRAP
/docs/
# CONTINEN IMAGENES DEL SISTEMA Y PARTIDAS DE NACIMIENTO
/img/fotos/10391/
/img/fotos/10428/
/img/png/pn/
/img/portafolio/10391/
#/images/
#/assets/
# CUADROS QUE UTILIZA EL SISTEMA (HOJAS DE CALCULO)
#/formatos_hoja_de_calculo/
# FRAMEWORK Y OTROS
#/js/bootstrap-select/
#/js/Chart.js-2.7.0/
#/js/jquery-validation-1.10.0/
#/js/jquery-validation-1.19.1/
/js/plugins/
#/js/popper/
#/js/file-input/
#/js/sweetalert2/
#/js/toastr/
#/js/pace/
#/js/jqueryNumeric/
#/js/jquery-mask/
#/js/pace-1.2.4/
#/js/fontawesome-pro-5.14.0-web/
#PHP LIBS
/php_libs/fpdf182/
#/php_libs/fpdf/
#/php_libs/Twig
#/php_libs/PHPMailer/
# COMPOSER
#/vendor/
#/vendore/
# OTROS
#/webfonts/
#/css/alt/
#/files/
/.vscode/