{# Heredando la plantilla principal #}

{% extends 'default_layout.html' %}

{% block extraCSS %}
<style>
  #CargaAcademicaContenedor {
    display: none;
    width: 50rem;
  }
  #PersonalDocente {
    width: 30rem;
  }
</style>
{% endblock %}

{% block javascripts %}
 <!-- JS SCRIPT  -->
  <script type="text/JavaScript" src="js/Personal/CargaAcademica.js"></script>
  <script type="text/JavaScript" src="js/Personal/DatosCargaAcademica.js"></script>
<!-- DEINIR EL AJAX START- STOP Y ERROR -->
<script>
 $(document).ready(function () { 
   /*$(document).ajaxStart(function () {
        $('#myModal').modal('show');
    });*/
    $(document).ajaxStop(function () {
        $('#myModal').modal('hide');
    });
    $(document).ajaxError(function () {
        $('#myModal').modal('hide');
    });   
});
</script>
<script>
  $(document).ready(function () { 
        $('#lstCodigoPersonal').select2({
          theme: 'bootstrap-5',
          width: 'resolve' // Asegura que Select2 se ajuste automáticamente al contenedor
        });
        $('#nombre_director2').select2({
          theme: 'bootstrap-5',
          width: 'resolve' // Asegura que Select2 se ajuste automáticamente al contenedor
        });
});
</script>
{% endblock %}

{% block contenidos %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper fondoBody">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-1">
          <div class="col-sm-12">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="index.php">Home</a></li>
              <li class="breadcrumb-item active">Carga Académica (Docentes)</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

<!-- Main content -->
    <section class="content">
      <div class="card col-6 mx-auto p-2" id="PersonalDocente">
        <div class="card-header bg-info">
            Carga Académica
        </div>
        <div class="card-body">
            <h5 class="card-title">Personal Docente</h5>
            <p class="card-text">Encargados de grado y asignaturas a cargo.</p>
            <form>
                <div class="mb-3">
                    <label for="lstannlectivo" class="form-label">Año Lectivo</label>
                    <select class="form-select" id="lstannlectivo" name="lstannlectivo" aria-describedby="inputHelp" required="required"></select>
                    <div id="inputHelp" class="form-text">Actuales.</div>
                </div>
                <div class="mb-3">
                    <label for="lstCodigoPersonal" class="form-label">Nombre del docente</label>
                    <select class="form-select select2" id="lstCodigoPersonal" name="lstCodigoPersonal"></select>
                </div>
                <button type="button" class="btn btn-primary" id = "goCABuscar" title="Buscar">
                  <span class="fas fa-search"></span></button>
                <button type="button" class="btn btn-danger" id = "goCancelar" title="Cancelar">
                  <span class="fas fa-window-close"></span>
                </button>
                <button type="button" class="btn btn-secondary bg-info" id = "goCAImprimir" title="Ver">
                  <span class="fas fa-print"></span>
                </button>
            </form>
        </div>
        <div class="card-footer text-muted bg-dark">
            Personal Docente
        </div>
    </div>
    <div class="container h-100 py-2" id="CargaAcademicaContenedor">
      <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active border border-primary border-bottom-0" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Encargado de Grado o Imparte Asignatura</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link border border-warning border-bottom-0" id="asignar-tab" data-toggle="tab" href="#asignar" role="tab" aria-controls="asignar" aria-selected="false">Asignar Carga Académica</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link border border-warning border-bottom-0" id="crear-tab" data-toggle="tab" href="#crear" role="tab" aria-controls="crear" aria-selected="false">Crear Hoja de Cálculo</a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content h-75">
        <!-- *********ENCARTGADO DE GRADO O IMPARTE ASIGNATURA********************************************************************************************************** -->
        <!-- ******************************************************************************************************************* -->
        <div class="tab-pane h-100 p-2 active border border-primary" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="card col-12 mx-auto p-2" id="EncargadoGrado">
            <div class="card-header bg-info">
                Encargado de Grado
            </div>
            <div class="card-body">
                <h5 class="card-title">Personal Docente</h5>
                <p class="card-text">Encargados de grado.</p>
                <form class="form-horizontal" action="" method="post" id="formCAa" name="formCAa" role="form">
                    <div class="mb-3">
                      <label for="lstCodigoModalidad" class="col-sm-2 col-form-label">Modalidad</label>
                      <div class="col-sm-10">
                        <select id="lstCodigoModalidad" name="lstCodigoModalidad" class="custom-select" required="required"></select>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="lstCodigoGSTEG" class="col-sm-2 col-form-label">Grado-Sección-Turno</label>
                      <div class="col-sm-10">
                        <select type="lstCodigoGSTEG" class="custom-select" id="lstCodigoGSTEG"></select>
                      </div>
                    </div>
                    <!-- checkbox -->
                    <div class="form-group">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" checked value="yes" id="EG1">
                        <label class="form-check-label">Encargado de Grado</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="yes" id="IA1">
                        <label class="form-check-label">Imparte Asignatura en Otros Grados.</label>
                      </div>
                    </div>
                      <button type="button" class="btn btn-primary" id = "goBuscarEG">
                       <span class="fas fa-search"></span>
                      </button>
                      <button type="button" class="btn btn-danger" id = "goAgregarEG">
                       <span class="fas fa-save"></span>
                      </button>
                </form>
            </div>
            <div class="card-footer text-muted bg-dark">
                Personal Docente
            </div>
        </div>
        
         <!-- /.card -->
           <div class="modal-body row">
            <div class="col-12">     
             <form name="formCD" id="formCD" role="form" class="form-inline">     
             <table class="table table-striped table-sm" id="listadoUsers">     
                <thead class="table-dark">     
                  <tr>     
                    <th>N°</th>     
                    <th>Id_EG</th>     
                    <th>Modalidad</th>     
                    <th>Grado-Sección-Turno</th>     
                    <th>E.G.</th>     
                    <th>I.Asig.Grado</th>     
                    <th>Acción</th>     
                  </tr>                         
                </thead>     
                <tbody id="listaEG">     
                      
                </tbody>     
              </table>     
             </form>     
            </div>     
           </div>     
        </div>
        <!-- ******************************************************************************************************************* -->
        <!-- *********ASIGNAR CARGA ACADEMICA********************************************************************************************************** -->
        <!-- ******************************************************************************************************************* -->
        <div class="tab-pane h-100 p-3 border border-warning" id="asignar" role="tabpanel" aria-labelledby="asignar-tab">
         <!-- Horizontal Form -->
          <div class="card col-12 mx-auto p-2" id="CargaAcademica">
            <div class="card-header bg-info">
              Carga Académica
            </div>
           <!-- /.card-header -->
           <!-- form start -->
           <form class="form-horizontal" action="" method="post" id="formCDa" name="formCDa" role="form">
              <!--- incio del card. -->
             <div class="card-body">
              <h5 class="card-title">Personal Docente</h5>
              <p class="card-text">Asignar Asignaturas.</p>

               <div class="mb-3">
                 <label for="lstCodigoModalidadCD" class="col-sm-2 col-form-label">Modalidad</label>
                 <div class="col-sm-10">
                   <select id="lstCodigoModalidadCD" name="lstCodigoModalidadCD" class="custom-select" required="required"></select>
                 </div>
               </div>
               <div class="mb-3">
                 <label for="lstCodigoGSTCD" class="col-sm-2 col-form-label">Grado-Sección-Turno</label>
                 <div class="col-sm-10">
                   <select type="lstCodigoGSTCD" class="custom-select" id="lstCodigoGSTCD"></select>
                 </div>
               </div>
               <div class="mb-3">
                 <label for="lstCodigoAsignaturaCD" class="col-sm-2 col-form-label">Asignatura</label>
                 <div class="col-sm-10">
                   <select type="lstCodigoAsignaturaCD" class="custom-select" id="lstCodigoAsignaturaCD"></select>
                 </div>
               </div>
               <div class="mb-3">
                <button type="button" class="btn btn-primary" id = "goBuscarCD">
                  <span class="fas fa-search"></span>
                </button>
                <button type="button" class="btn btn-danger" id = "goAgregarCD">
                  <span class="fas fa-save"></span>
                </button>
               </div>
             </div>
             <!-- /.card-body -->
             <div class="card-footer text-muted bg-dark">
                Personal Docente
             </div>
             <!-- /.card-footer -->
           </form>
         </div>
         <!-- /.card -->
           <div class="modal-body row">
            <div class="col-12">     
             <form name="formCD" id="formCargaAcademica" role="form" class="form-inline">     
             <table class="table table-striped table-sm" id="listadoCargaAcademica">     
                <thead class="table-dark">     
                  <tr>     
                    <th>N°</th>     
                    <th>Id_CD</th>     
                    <th>Modalidad</th>     
                    <th>Grado-Sección-Turno</th>     
                    <th>Asignatura</th>     
                    <th>Acción</th>     
                  </tr>                         
                </thead>     
                <tbody id="listaCD">     
                      
                </tbody>     
              </table>     
             </form>     
            </div>     
           </div> 
        </div>
        <!-- *********CREAR HOJA DE CALCULO********************************************************************************************************** -->
        <!-- ******************************************************************************************************************* -->
        <div class="tab-pane h-100 p-3 border border-info" id="crear" role="tabpanel" aria-labelledby="crear-tab">
        <!-- Horizontal Form -->
         <div class="card card-info">
           <div class="card-header">
             <h3 class="card-title">Formulario - Crear Hoja de Cálculo</h3>
           </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form class="form-horizontal">
            <div class="card-body">
              <div class="form-group">
               <label for="exampleInputPassword1">Seleccione Trimestre o Período. Si es necesario de lo contrario Crea una Hoja sin Notas Promedios.</label>
             </div>
              <!-- checkbox -->
                   <div class="form-group">
                     <div class="form-check">
                       <input class="form-check-input" type="checkbox" value="nota_p_p_1" id="T1">
                       <label class="form-check-label">1 - Grabará la nota en la Hoja de Cálculo.</label>
                     </div>
                     <div class="form-check">
                       <input class="form-check-input" type="checkbox" value="nota_p_p_1" id="T2">
                       <label class="form-check-label">2 - Grabará la nota en la Hoja de Cálculo.</label>
                     </div>
                     <div class="form-check">
                       <input class="form-check-input" type="checkbox" value="nota_p_p_1" id="T3">
                       <label class="form-check-label">3 - Grabará la nota en la Hoja de Cálculo.</label>
                     </div>
                     <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="nota_p_p_1" id="T4">
                      <label class="form-check-label">4 - Grabará la nota en la Hoja de Cálculo.</label>
                    </div>
                     <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="Pendiente" id="Pendiente">
                      <label class="form-check-label">Crear Archivo Asignatura(s) No aprobadas</label>
                    </div>
                   </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <div class="form-group row">
                 <button type="button" class="btn btn-primary" id = "goCrearHC">
                    <span class="fas fa-file-excel"></span> Crear
                 </button>
              </div>
              <div class="alert alert-success" id="Informacion" style="display: none;">
                <strong></strong>
              </div>
              <div class="alert alert-danger" id="InformacionError" style="display: none;">
                <strong></strong>
              </div>
              <div class="form-group row" style="display: none;">
                 <button type="button" class="btn btn-primary" id = "goDescargar">
                    <span class="fas fa-file-excel"></span> Descargar
                 </button>
                     <label for="NombreDescarga"></label>
              </div>
            </div>
            <!-- /.card-footer -->
                                    <!-- right column CREAR ARCHIVO CON LA CARGA ACADEMICA.-->
                                    <div class="row">
                                      <div class="col">
                                      <div class="card card-secondary w-50 mx-auto" id="tabstabla">
                                          <div class="card-header">
                                            <h3 class="card-title">...</h3>
                                          </div>
                                          <!-- /.card-header -->
                                          <div class="card-body p-0">
                                            <table class="table table-striped table-sm" id="tablaArchivo">
                                              <thead>
                                                <tr>
                                                  <th>Información</th>
                                                </tr>                    
                                              </thead>
                                              <tbody id="listaArchivoOK">
                                              
                                              </tbody>
                                            </table>
                                          </div><!-- /.card-body -->
                                          <!-- /.card-footer -->
                                          <div class="card-footer">
                                              
                                            </div>
                                        </div>
                                      <!-- /.card -->
                                      </div><!-- /.col rigth -->
                                    </div> <!-- CLASS ROW PARA LA INFORMACIÓN DE CREAR ARCHIVO. -->
          </form>
        </div>        <!-- /.card -->
        </div>
      </div>
      </div>
    </section>
  </div> <!-- /.Content Wrapper. Caontains page content -->
<!-- .-->
<!-- Modal ELIMINAR TAB-1 ENCARGADO DE GRADO.-->
<!-- .-->
<div id="myModalEliminarEG" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" 
  data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><label for="EditarEliminar">Docente Encargado</label></h5>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center mb-3">
          <label>¿Desea Borrar el Registro Seleccionado?</label>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group row">
            <button type="button" class="btn btn-primary" id = "goEliminarEG">                 
              <span class="fas fa-trash"></span> Eliminar                 
             </button>                 
             <button type="button" class="btn btn-danger" id = "goCerrarEG">                 
               <span class="fas fa-cancel"></span> Cerrar                 
             </button>                 
        </div>                 
      </div>
    </div>
  </div>
</div>  
<!-- .-->
<!-- Modal ELIMINAR TAB-2 CARGA ACADEMICA.-->
<!-- .-->
<div id="myModalEliminarCD" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" 
  data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><label for="EditarEliminar">Carga Académica - Asignatura</label></h5>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center mb-3">
          <label>¿Desea Borrar el Registro Seleccionado?</label>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group row">
            <button type="button" class="btn btn-primary" id = "goEliminarCD">                 
              <span class="fas fa-trash"></span> Eliminar                 
             </button>                 
             <button type="button" class="btn btn-danger" id = "goCerrarCD">                 
               <span class="fas fa-cancel"></span> Cerrar                 
             </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal VENTANA EN ESPERA.-->
<div id="myModal" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" 
  data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><label for="VerificarActualizar">Creando Archivo...</label></h5>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center mb-3">
          <img src="img/ajax-loader.gif" width="45" height="45" alt="Loading...">
        </div>
      </div>
      <div class="modal-footer">
        <label for="NombreArchivo">Nombre del Archivo.</label>
      </div>
    </div>
  </div>
</div>  
   
{% endblock %}

{% block menu %}
<!-- plantilla que contiene el menú principal. 
		{% include 'layout-menu.html' %}-->
{% endblock %}

{% block loginUser %}
<!--	{% include 'layout-login-user.html' %} -->
{% endblock %}