{# Heredando la plantilla principal #}

{% extends 'default_layout.html' %}

{% block extraCSS %}

<!-- CSS ESTILO PLANTILLA PERSONAL -->
  <link rel="stylesheet" href="css/estilo_personal.css">
  
  <style>
    /* ANCHO DE CADA CARD*/
    .card-width{
      width: 18rem;
    }
  </style>
  
{% endblock %}

{% block javascripts %}
<!-- JS para esta página. -->
  <script type="text/javascript" src="js/calcular_edad.js"></script>
  <script type="text/JavaScript" src="js/Personal/EditarNuevoFicha.js"></script>
  <script type="text/JavaScript" src="js/Personal/EditarNuevoFichaPortafolio.js"></script>
  <script type="text/JavaScript" src="js/Personal/EditarNuevoFichaHistorial.js"></script>
  <script type="text/javascript" src="js/jquery-mask/jquery.maskedinput.js"></script>
<!-- JS para esta página. -->
<script language="javascript">
// VALIDAR LOS ENTER EN EL FORMULARIO.
$(document).ready(function() {
  $('form').keypress(function(e){   
    if(e == 13){
      return false;
    }
  });

  $('input').keypress(function(e){
    if(e.which == 13){
      return false;
    }
  });
// Llenas LISTAS DESPLEGABLES.
    var codigo_departamento = '01';
    listar_departamento();  // LLENAR CATALOGO PERFIL.
    listar_municipio(codigo_departamento,''); // LLENAR CATALOGO ESTATUS.
    listar_genero();
    listar_estado_civil();
    listar_estatus();
    listar_estudios();
    listar_vivienda();
    listar_afp();
    listar_cargo();
    listar_licencia();
// Jquery-mask - entrado de datos.
jQuery(function($){
    // Form Users Agregar.
      $("#telefono_fijo").mask("9999-9999");
      $("#telefono_movil").mask("9999-9999");
      $("#telefono_fax").mask("9999-9999");

      $("#txtNip").mask("999999999");
      $("#txtDui").mask("99999999-9");
      $("#txtNit").mask("9999-999999-999-9");
  }); 
});
 /* SCRIPT PARA SUBIR LA FOTO.*/
$(document).ready(function() {
  $('#fileup').change(function(){
//here we take the file extension and set an array of valid extensions
    var res=$('#fileup').val();
    var arr = res.split("\\");
    var filename=arr.slice(-1)[0];
    console.log(this.files);

    filextension=filename.split(".");
    filext="."+filextension.slice(-1)[0];
    valid=[".jpg",".png",".jpeg",".bmp"];
//if file is not valid we show the error icon, the red alert, and hide the submit button
    if (valid.indexOf(filext.toLowerCase())==-1){
        $( ".imgupload.ok" ).hide("slow");
        $( ".imgupload.stop" ).show("slow");
      
        $('#namefile').css({"color":"red","font-weight":700});
        $('#namefile').html("No es una Imagen!");
    }else{
        //if file is valid we show the green alert and show the valid submit
        $( ".imgupload.stop" ).hide("slow");
        $( ".imgupload.ok" ).show("slow");
      
        $('#namefile').css({"color":"green","font-weight":700});
        $('#namefile').html("Imagen!");
    }
});
// CARGAR DEL ARCHIVO A LA TABLA CORRESPONDIENTE.
    $(".upload").on('click', function() {
        var formData = new FormData();
        var files = $('#fileup')[0].files[0];
        formData.append('file',files);
        $.ajax({
            cache: false,
            url: 'php_libs/soporte/Personal/UploadFotoFicha.php',
            type: 'post',
            data: formData,
            contentType: false,
            processData: false,
            success: function(response) {
                if (response != 0) {
                    //$('.card-img-top').removeAttr('src');
                    $(".card-img-top").attr("src", response);
                    //let timestamp = Math.floor( Date.now() );
                    //$("#Imagen").attr("src", response + '?ver=' + timestamp);

                    $('#namefile').html("Sólo Imagen!");
                    toastr["success"]('Imagen Cargada...', "Sistema");
                } else {
                  toastr["error"]('Formato de imagen incorrecto.', "Sistema");
                }
            }
        });
		return false;
    });
});
</script>
{% endblock %}

{% block contenidos %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) 
    lo reemplaze por un CARD
    -->

  <!-- Main content -->
    <section class="content">
      <!-- FORM PRINCIPAL -->
      <form action="" method="post" id="formUsers" name="formUsers" role="form" enctype="multipart/form-data">
        <div class="tab-content tab-validate"> <!-- VALIDATE DE TODO EL DIV PARA LOS DIFERENTES INPUT'S -->
          <!-- INPUT HIDE CONTROLA EL GUARDO DEL REGISTRO..            
          <input type="hidden" id="accion_buscar" name="accion_buscar" value = "GenerarCodigoNuevo" class="{required:true}">-->            
          <input type="hidden" id="id_user" name="id_user" value = "{{ id }}">            
          <input type="hidden" id="accion" name="accion" value = "{{ accion }}">            
          <input type="hidden" id="txtId" name="txtId" value = "">   
          <!-- /.INPUT PARA EL MENU CONTEXTUAL 
          <input type="text" id="MenuTab" value='{{ codigo_perfil }}'>         -->
          <!-- VARIABLES PARA LA MATRICULA CUANDO SEA NUEVO -->
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header bg-gradient-navy m-1 p-1">
                    <div class="d-flex flex-row w-100 justify-content-between">
                      <div>
                        <h3 class="card-title">
                          <label for="txtEdicionNuevo" class="text-white">Edición</label>
                          <label for="LblNombre" class="text-white"></label>
                        </h3>
                      </div>
                      <div class="m-0 p-0">
                        <button type="button" id="goGuardar" aria-label="goGuardar" class="btn btn-primary mb-0 mx-sm-1" tabindex="-1" data-toggle="tooltip" data-placement="left" title="Guardar">
                          <i class="fal fa-save"></i>
                        </button>
                        <button type="button" id="goBuscar" aria-label="goBuscar" class="btn btn-secondary mb-0 mx-sm-1" tabindex="-1" data-toggle="tooltip" data-placement="bottom" title="Buscar">
                          <i class="fal fa-search"></i>
                        </button>
                        <button type="button" id="goImprimirPortada" aria-label="goImprimirPortada" class="btn btn-info mb-0 mx-sm-1" tabindex="-1" data-toggle="tooltip" data-placement="bottom" title="Imprimir Portada" disabled="disabled">
                          <i class="fal fa-file-alt"></i>
                        </button>
                      </div>
                    </div>
                    </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                  <!-- Nav tabs -->
                  <div class="container py-2">
                    <ul class="nav nav-tabs border-0" id="myTab" role="list">
                      <li class="nav-item">
                          <a class="nav-link active border border-primary border-bottom-0" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Empleado</a>
                      </li>
                      <li class="nav-time">
                          <a class="nav-link border border-secondary border-bottom-0" id="empresa-tab" data-toggle="tab" href="#empresa" role="tab" aria-controls="empresa" aria-selected="true">En la Escuela</a>
                      </li>                
                      <li class="nav-time">
                        <a class="nav-link border border-secondary border-bottom-0" id="docuemntos-tab" data-toggle="tab" href="#documentos" role="tab" aria-controls="dlcumentos" aria-selected="true">Documentos</a>
                      </li>                
                      <li class="nav-time">
                        <a class="nav-link border border-secondary border-bottom-0" id="historial-tab" data-toggle="tab" href="#historial" role="tab" aria-controls="historial" aria-selected="true">Historial</a>
                      </li>                
                      <li class="nav-time">
                        <a class="nav-link border border-secondary border-bottom-0" id="digitalizacion-tab" data-toggle="tab" href="#digitalizacion" role="tab" aria-controls="digitalizacion" aria-selected="true">Portafolio</a>
                      </li>                
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                      <!-- Tab INFORMACION DEL EMPLEADO -->
                      <div class="tab-pane p-2 active border border-primary" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                          <div class="col-lg-4">
                          </div>
                          <div class="col-lg-8">
                            <!-- ESTATUS -->
                              <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label text-right">Estatus</label>
                                <div class="col-lg-3">
                                  <select class="custom-select" id="lstestatus" name="lstestatus" aria-label="LstEstatus"></select>
                                </div>
                              </div>
                          </div>
                        </div>
                        <!-- MODAL BODY ROW -->
                            <div class="modal-body row">
                              <div class="col-md-8">
                                  <!-- INICIO DEL FORMULARIO -->
                                  <fieldset>
                                      <legend>Información General</legend>
                                      <!-- NOMBRES  -->
                                          <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">Nombres</label>
                                            <div class="col-lg-9">
                                              <input class="form-control" type="text" id="txtnombres" name="txtnombres" maxlength="60" required="required" placeholder="" autocomplete = "off" onchange="conMayusculas(this);" autofocus="autofocus" aria-label="TxtNombres">
                                            </div>
                                          </div>
                                      <!-- APELLIDOS  -->
                                          <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">Apellidos</label>
                                            <div class="col-lg-9">
                                              <input class="form-control" type="text" id="txtapellido" name="txtapellido" maxlength="60" required="required" placeholder="" autocomplete = "off" onchange="conMayusculas(this);" aria-label="TxtApellidos">
                                            </div>
                                          </div>
                                      <!-- FECHA DE NACIMIENTO -->
                                            <div class="form-group row">
                                              <label class="col-lg-3 col-form-label form-control-label">Fecha Nacimiento</label>
                                              <div class="col-lg-4">
                                                <input class="form-control" type="date" id="txtfechanacimiento" name="fechanacimiento" onblur="calcular_edad(this.value);" aria-label="FechaNacimiento">
                                              </div>
                                      <!-- EDAD -->        
                                              <label class="col-lg-2 col-form-label form-control-label text-right">Edad</label>
                                              <div class="col-lg-3">
                                                <input class="form-control text-right" type="text" id="txtedad" name="txtedad" value = "0" readonly="readonly" aria-label="TxtEdad">
                                                <input type="hidden" name= "edad_enviar" id="edad_enviar" value = "00" class="form-control">
                                              </div>
                                            </div>
                                            <div class="form-group row">
                                              <div class="col-lg-3"></div>
                                              <div class="col-lg-9">
                                                <label for="lbl_edad_y_mes" class="control-label text-primary"></label>
                                              </div>
                                            </div>
                                      <!-- GÉNERO -->
                                            <div class="form-group row">
                                              <label class="col-lg-3 col-form-label form-control-label">Género</label>
                                              <div class="col-lg-3">
                                                <select class="custom-select" id="lstgenero" name="lstgenero" aria-label="LstGenero"></select>
                                              </div>
                                      <!-- ESTADO CIVIL -->
                                              <label class="col-lg-3 col-form-label form-control-label text-right">Estado Civil</label>
                                              <div class="col-lg-3">
                                                <select class="custom-select text-right" id="lstEstadoCivil" name="lstEstadoCivil" aria-label="LstEstadoCivil"></select>
                                              </div>
                                            </div>
                                      <!-- TIPO DE SANGRE -->
                                          <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">Tipo de Sangre</label>
                                            <div class="col-lg-4">
                                              <input class="form-control" aria-describedby="basic-addon1" type="text" id="txtTipoSangre" name="txtTipoSangre" onchange="conMayusculas(this)" aria-label="TxtTipoSangre">
                                            </div>
                                      <!-- ESTUDIOS -->        
                                            <label class="col-lg-2 col-form-label form-control-label text-right">Estudios</label>
                                            <div class="col-lg-3">
                                              <select class="form-control" aria-describedby="basic-addon1" id="lstEstudios" name="lstEstudios" aria-label="LstEstudios"></select>
                                            </div>
                                          </div>
                                      <!-- TIPO DE SANGRE -->
                                          <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">Vivienda</label>
                                            <div class="col-lg-4">
                                              <select class="form-control" aria-describedby="basic-addon1" id="lstVivienda" name="lstVivienda" aria-label="LstVivienda"></select>
                                            </div>
                                      <!-- ESTUDIOS -->        
                                            <label class="col-lg-2 col-form-label form-control-label text-right">AFP</label>
                                            <div class="col-lg-3">
                                              <select class="form-control" aria-describedby="basic-addon1" id="lstAfp" name="lstAfp" aria-label="LstAfp"></select>
                                            </div>
                                          </div>
                                      <!-- NOMBRE DEL CÓNYUGE  -->
                                          <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">Nombre del Cónyuge</label>
                                            <div class="col-lg-9">
                                              <input class="form-control" aria-describedby="basic-addon1 sizing-addon2" type="text" id="txtConyuge" name="txtConyuge" placeholder="nombre del conyuge" onchange="conMayusculas(this)">
                                            </div>
                                          </div>
                                    </fieldset>
                              </div>
                              <!-- FOTO O IMAGEN DEL EMPLEADO-->
                                    <div class="col-md-4">
                                      <form name="formImagen" id="formImagen" class="text-center border border-light p-5" action="#!" enctype="multipart/form-data">
                                        <div class="card card-width">
                                          <div class="card-head">
                                                <div id="estilo_foto">             
                                                  <p id="AgregarFoto">Agregar Foto</p>
                                                    <input type="file" value="" name="fileup" id="fileup" disabled aria-label="FileUP">
                                                </div>
                                                <label class="text-center" id="namefile"></label>
                                                  <span class="imgupload ok"><i class="fa fa-check"></i></span>
                                                  <span class="imgupload stop"><i class="fa fa-times"></i></span>
                                          </div>
                                            <div class="card-body">
                                              <form method="post" action="#" enctype="multipart/form-data">
                                                <img class="card-img-top img-fluid" id="Imagen" src="#" aria-label="CardImg">
                                              </form>
                                            </div>
                                            <div class="card-footer text-center">
                                              <input type="button" class="btn btn-primary btn-block upload" value="Subir" id="SubirImagen" disabled>
                                            </div>
                                        </div>                                  
                                        </form>
                                    </div>
                                  <!-- INICIO DEL FORMULARIO CONTACTO-->
                                  <div class="col-md-12">
                                  <fieldset>
                                      <legend>Residencia y Contacto</legend>
                                          <!-- DEPARTAMENTO -->
                                          <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">Departamento</label>
                                            <div class="col-lg-3">
                                              <select id="lstdepartamento" name="lstdepartamento" class="custom-select"  onchange="listar_municipio(this.value)" aria-label="LstDepartamento"></select>
                                            </div>
                                          <!--  MUNICIPIOS -->
                                            <label class="col-lg-3 col-form-label form-control-label text-right">Municipio</label>
                                            <div class="col-lg-3">
                                              <select id="lstmunicipio" name="lstmunicipio" class="custom-select" aria-label="LstMunicipio"></select>
                                            </div>
                                          </div>
                                      <!-- DIRECCIÓN -->
                                          <div class="form-group row">
                                            <label for="" class="col-lg-3 col-form-label form-control-label">Dirección</label>
                                            <div class="col-lg-9">
                                              <textarea id="direccion" name="direccion" class="form-control" aria-label="Direccion"></textarea>
                                            </div>
                                          </div>
                                          <!-- TELEFONO FIJO -->
                                          <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">Teléfono Fijo</label>
                                            <div class="col-lg-3">
                                              <input class="form-control" type="text" name="telefono_fijo" id="telefono_fijo" aria-label="TelefonoFijo">
                                            </div>
                                          <!--  TELEFONO MOVIL -->
                                            <label class="col-lg-3 col-form-label form-control-label text-right">Teléfono Móvil</label>
                                            <div class="col-lg-3">
                                              <input class="form-control" type="text" name="telefono_movil" id="telefono_movil" aria-label="TelefonoMovil">
                                            </div>
                                          </div>
                                      <!-- CORREO ELECTRICO -->
                                          <div class="form-group row">
                                              <label class="col-lg-3 col-form-label form-control-label">Correo Electrónico</label>
                                              <div class="col-lg-9">
                                                  <input type="text" name="correo_electronico" id="correo_electronico" placeholder="" class="form-control" aria-label="CorreoElectronico">
                                              </div>
                                          </div>
                                  </fieldset>

                                  <!-- INICIO DEL FORMULARIO -->
                              </div>
                            </div><!-- FIN MODAL BODY INFORMACIÓN GENERAL-->
                      </div>
                      <!-- Tab EN LA EMPRESA -->
                      <div class="tab-pane p-2 border border-secondary" id="empresa" role="tabpanel" aria-labelledby="empresa-tab">
                        <div class="modal-body row">
                          <div class="col-md-12">
                              <!-- EN LA EMPRESA-->
                              <fieldset>
                                <legend><span class="fas fa-edit"></span></legend>
                                  <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">    
                                          <!-- CARGO -->
                                          <label class="form-label form-control-label">Cargo</label>
                                          <select class="custom-select" id="lstCargo" name="lstCargo" tabindex="1" autofocus aria-label="LstCargo"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">    
                                          <!-- FECHA INGRESO  -->
                                          <label class="form-label form-control-label text-right">Fecha Ingreso</label>
                                          <input class="form-control" type="date" id="txtFechaIngreso" name="txtFechaIngreso" tabindex="1" aria-label="TxtFEchaIngreso">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                      <div class="form-group">    
                                          <!-- FECHA RETIRO -->
                                          <label class="form-label form-control-label text-right" >Fecha Retiro</label>
                                          <input class="form-control" type="date" id="txtFechaRetiro" name="txtFechaRetiro" tabindex="2" aria-label="TxtFechaRetiro">  
                                      </div>
                                    </div>
                                  </div>
                              </fieldset>
                          </div> <!-- FIN COL MD 12 -->
                        </div> <!-- MODAL ROW -->
                      </div> <!-- FIN EN LA EMPRESA -->
                      <!-- Tab DOCUMENTOS -->
                      <div class="tab-pane p-2 border border-secondary" id="documentos" role="tabpanel" aria-labelledby="documentos-tab">
                        <div class="modal-body row">
                          <div class="col-md-12">
                              <!-- EN DOCUMENTOS-->
                              <fieldset>
                                <legend><span class="fas fa-edit"></span> Documentos</legend>
                                <div class="row">
                                  <div class="col-md-4">
                                      <div class="form-group">    
                                        <!-- N.º DUI -->
                                        <label class="form-label form-control-label">N.º NIP</label>
                                        <input class="form-control" type="text" id="txtNip" name="txtNip" maxlength="10" tabindex="10" aria-label="TxtNpi">
                                        <!-- N.º ISSS -->
                                        <label class="form-label form-control-label">N.º ISSS</label>
                                        <input class="form-control" type="text" id="txtIsss" name="txtIsss" maxlength="10" tabindex="11" aria-label="TxtIsss">
                                      </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="form-group">
                                      <!-- N.º NIT -->
                                      <label class="form-label form-control-label">N.º NIT</label>
                                      <input class="form-control" type="text" id="txtNit" name="txtNit" tabindex="12" aria-label="TxtNit">
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                      <div class="form-group">    
                                        <!-- N.º DUI -->
                                        <label class="form-label form-control-label">N.º DUI</label>
                                        <input class="form-control" type="text" id="txtDui" name="txtDui" tabindex="10" aria-label="TxtDui">
                                        <!-- N.º NUP -->
                                        <label class="form-label form-control-label">N.º NUP (AFP)</label>
                                        <input class="form-control" type="text" id="txtNup" name="txtNup" maxlength="15" tabindex="13" aria-label="TxtNup">
                                      </div>
                                  </div>
                                </div>
                              </fieldset>
                              <fieldset>
                                <legend><span class="fas fa-edit"></span> Comentario</legend>
                                  <div class="md-form amber-textarea">
                                    <i class="fas fa-pencil-alt prefix"></i>
                                    <textarea class="form-control md-textarea" id="txtComentario" name="txtComentario" tabindex="14" rows="3"></textarea>
                                    <label for="txtComentario">Comentario</label>
                                  </div>
                              </fieldset>
                          </div>
                        </div>
                      </div> <!-- FIN DOCUMENTOS -->
                      <!-- Tab HISTORIAL -->
                      <div class="tab-pane p-2 border border-secondary" id="historial" role="tabpanel" aria-labelledby="historial-tab">
                        <div class="modal-body row">
                          <div class="modal-body row">
                            <div class="col-md-12">
                                <!-- HISTORIAL -->
                                <fieldset>
                                  <legend>Historial</legend>
                                  <div class="d-flex flex-row w-100 justify-content-between bg-gradient-cyan">
                                    <div>
                                      {# <h3><label for="LblPortafolio" class="text-black">Historial</label></h3> #}
                                    </div>
                                    <div>
                                      <button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Agregar" id="goNuevoHistorial" type="button">
                                        <i class="fal fa-file-plus"></i>
                                      </button>
                                      <button class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Buscar" id="goVerHistorial" type="button">
                                        <i class="fal fa-file-search"></i>
                                      </button>
                                    </div>
                                  </div>  
                                    <section id="EditarNuevoHistorial">
                                      <div class="row">                                     
                                            <!-- .col para FORMULARIO DE LOS DATOS.. -->
                                            <div class="col-md-8">
                                              <!-- Default form subscription -->
                                              <form name="formHistorial" id="formHistorial" class="text-center border border-light p-5" action="#!">
                                                <input type="hidden" id="accionHistorial" name="accionHistorial" value = "AgregarNuevo">            
                                                <input type="hidden" id="IdHistorial" name="IdHistorial" value = "0">            
                                                    <div class="card">
        
                                                      <div class="card-body">
                                                        <div class="form-group text-left">    
                                                          <!-- FECHA -->
                                                          <label class="form-label form-control-label">Fecha</label>
                                                          <input class="form-control" type="date" id="txtFechaHistorial" name="txtFechaHistorial" tabindex="1" aria-label="TxtFechaHistorial">  
                                                          <!-- TÍTULO -->
                                                          <label class="form-label form-control-label">Título</label>
                                                          <input class="form-control" type="text" id="TituloHistorial" name="TituloHistorial" tabindex="2" aria-label="TituloHistorial">  
                                                          <!-- DESCRIPCION -->
                                                          <div class="md-form amber-textarea">
                                                            <i class="fas fa-pencil-alt prefix"></i>
                                                            <textarea class="form-control md-textarea" id="txtComentarioHistorial" name="txtComentarioHistorial" tabindex="3" rows="3" aria-label="TxtComenatrioHistorial"></textarea>
                                                            <label for="txtComentarioPortafolio">Descripción</label>
                                                          </div>
                                                        </div>
                                                      </div>
          
                                                      <!-- CARD FOOTER - BOTONES GUARDAR -->
                                                      <div class="card-footer bg-gradient-navy">
                                                        <div class="d-flex justify-content-end align-items-end">
                                                          <button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Guardar" id = "goGuardarHistorial" type="submit">
                                                            <span class="fal fa-save"></span>
                                                          </button>
                                                        </div>
                                                      </div>
                                                  </div>  <!-- fin del card -->
                                              </form> <!-- fin DEL FORMULARIO CONTACTO--> 
                                            </div>  <!-- FIN DEL COLUM 8 -->
                                      </div>  <!-- div class row  - fin -->
                                    </section>  <!-- FIN DEL SECTION -->
                                    <section id="ListarHistorial">
                                            <!-- MOSTRAR IMAGENES SEGUN EL REGISTRO.-->
                                              <!-- Card -->
                                              <!-- Card -->
                                          <!-- MOSTRAR IMAGENES SEGUN EL REGISTRO.-->
                                    </section>
                              </fieldset>
                            </div>
                          </div>
                          
                        </div>
                      </div> <!-- FIN EN LA HISTORIAL -->
                      <!-- Tab DIGITALIZACIÓN DOCUMENTOS -->
                      <div class="tab-pane p-2 border border-secondary" id="digitalizacion" role="tabpanel" aria-labelledby="digitalizacion-tab">
                        <div class="modal-body row">
                          <div class="col-md-12">
                              <!-- EN LA DIGITALICACION DOCUMENOTS-->
                              <fieldset>
                                  <div class="row">
                                    <div class="col-lg-8 d-flex justify-content-start">
                                      <h2><label for="LblPortafolio">Portafolio</label></h2>
                                    </div>
                                    <div class="col-lg-4 d-flex justify-content-end">
                                        <input class="btn btn-primary card-width" type="button" value="Agregar" name="goNuevoPortafolio" id="goNuevoPortafolio" aria-label="GoNuevoPortafolio">
                                        <input class="btn btn-primary" type="button" value="Ver" name="goVerPortafolio" id="goVerPortafolio">
                                    </div>
                                  </div>
                                  <section id="EditarNuevoPortafolio">
                                    <div class="row">
                                          <!-- .col para subir la imagen. -->
                                          <div class="col-md-4">
                                            <form name="formImagen" id="formImagen" class="text-center border border-light p-5" action="#!">
                                            <div class="card card-width">
                                              <div class="card-head ">
                                                    <div id="estilo_foto">             
                                                      <p id="AgregarFoto">Agregar Foto</p>
                                                        <input type="file" value="" name="fileupPortafolio" id="fileupPortafolio" disabled aria-label="FileUpPortafolio">
                                                    </div>
                                                    <label class="text-center" id="namefilePortafolio"></label>
                                                      <span class="imguploadPortafolio ok"><i class="fa fa-check"></i></span>
                                                      <span class="imguploadPortafolio stop"><i class="fa fa-times"></i></span>
                                              </div>
                                                <div class="card-body">
                                                  <form method="post" action="#" enctype="multipart/form-data">
                                                    <img class="card-img-top-Portafolio img-fluid" id="ImagenPortafolio" src="#" alt="ImagenPortafolio">
                                                  </form>
                                                </div>
                                                <div class="card-footer text-center">
                                                  <input type="button" class="btn btn-primary btn-block uploadPortafolio" value="Subir" id="SubirImagenPortafolio" disabled>
                                                </div>
                                            </div>                                  
                                            </form>
                                          </div>
                                          
                                          <!-- .col para FORMULARIO DE LOS DATOS.. -->
                                          <div class="col-md-8">
                                            <!-- Default form subscription -->
                                            <form name="formPortafolio" id="formPortafolio" class="text-center border border-light p-5" action="#!">
                                              <input type="hidden" id="accionPortafolio" name="accionPortafolio" value = "AgregarNuevo">            
                                              <input type="hidden" id="IdPortafolio" name="IdPortafolio" value = "0">            
                                                  <div class="card">

                                                    <div class="card-body">
                                                      <div class="form-group text-left">    
                                                        <!-- FECHA -->
                                                        <label class="form-label form-control-label">Fecha</label>
                                                        <input class="form-control" type="date" id="txtFechaPortafolio" name="txtFechaPortafolio" tabindex="1" aria-label="TxtFechaPortafolio">  
                                                        <!-- TÍTULO -->
                                                        <label class="form-label form-control-label">Título</label>
                                                        <input class="form-control" type="text" id="TituloPortafolio" name="TituloPortafolio" tabindex="2" aria-label="TituloPortafolio">  
                                                        <!-- DESCRIPCION -->
                                                        <div class="md-form amber-textarea">
                                                          <i class="fas fa-pencil-alt prefix"></i>
                                                          <textarea class="form-control md-textarea" id="txtComentarioPortafolio" name="txtComentarioPortafolio" tabindex="3" rows="3"></textarea>
                                                          <label for="txtComentarioPortafolio">Descripción</label>
                                                        </div>
                                                      </div>
                                                    </div>
        
                                                    <!-- CARD FOOTER - BOTONES GUARDAR -->
                                                    <div class="card-footer d-flex justify-content-end align-items-end">
                                                      <button class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Agregar" id = "goGuardarPortafolio" aria-labelledby="Agregar" type="button">
                                                        <span class="fas fa-save"> Guardar </span>
                                                      </button>
                                                    </div>
                                                </div>  <!-- fin del card -->
                                            </form> <!-- fin DEL FORMULARIO CONTACTO--> 
                                          </div>  <!-- FIN DEL COLUM 8 -->
                                    </div>  <!-- div class row  - fin -->
                                  </section>  <!-- FIN DEL SECTION -->
                                  <section id="ListarPortafolio">
                                          <!-- MOSTRAR IMAGENES SEGUN EL REGISTRO.-->
                                            <!-- Card -->
                                            <!-- Card -->
                                        <!-- MOSTRAR IMAGENES SEGUN EL REGISTRO.-->
                                  </section>
                            </fieldset>
                          </div>
                        </div>
                      </div> <!-- FIN DIGITALACIÓN DOCUMENTACIÓN -->
                    </div> <!-- /.tab-content -->
                  </div> <!-- /.container -->
                  </div> <!-- /.card-body -->
                  <div class="card-footer">             <!-- /.card-footer -->

                  </div>
                </div> <!-- /.card -->
                </div> <!-- VALIDATE DE TODO EL DIV PARA LOS DIFERENTES INPUT'S -->
            </div>
        </div>
    </form> <!-- fin del form -->            
    </section>
</div> <!-- /.content-Wrapper, Contains page content. -->
{% endblock %}

{% block loginUser %}
<!--	{% include 'layout-login-user.html' %} -->
{% endblock %}