{# Heredando la plantilla principal #}

{% extends 'default_layout.html' %}

{% block extraCSS %}
<style>
  #listado
  {
    width: 100%;
  }
  .ColorFila
  {
    background-color: rgb(223, 252, 234);
  }
</style>
{% endblock %}
{% block javascripts %}
  <!-- JS para esta página. -->
    <script type="text/JavaScript" src="js/Personal/Ficha.js"></script>
    <script type="text/JavaScript">       // Activar los Toottip de los botones y input. "title"
      $(document).ready(function () { 
        $('[data-toggle="tooltip"]').tooltip();
      })
    </script>
    <script type="text/JavaScript">   // Permite la busqueda con o sin tildes.
      (function(){
          function removeAccents ( data ) {
              if ( data.normalize ) {
                /*Utilice la API I18n si está disponible para dividir caracteres y acentos, luego elimine
                los acentos al por mayor. Tenga en cuenta que utilizamos los datos originales, así como
                el nuevo para permitir la búsqueda de cualquiera de las dos formas.*/
                  return data +' '+ data
                      .normalize('NFD')
                      .replace(/[\u0300-\u036f]/g, '');
              }
              return data;
          }
          var searchType = jQuery.fn.DataTable.ext.type.search;
          searchType.string = function ( data ) {
              return ! data ?
                  '' :
                  typeof data === 'string' ?
                      removeAccents( data ) :
                      data;
          };
          searchType.html = function ( data ) {
              return ! data ?
                  '' :
                  typeof data === 'string' ?
                      removeAccents( data.replace( /<.*?>/g, '' ) ) :
                      data;
          };
          }());
  </script>
{% endblock %}

{% block contenidos %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper fondoBody">
    <!-- Content Header (Page header) 
    Se elimino content-header section solo se va dejar Main Content -->

  <!-- Small boxes (Stat box) -->
  <div class="col-md-12">
    <div class="card">
      <div class="card-header bg-gradient-navy">
        <div class="d-flex flex-row w-100 justify-content-between">
          <div>
            <h3 class="card-title"><i class="fas fa-user-friends nav-icon"></i> Personal</h3>
            <!-- /.INPUT PARA EL MENU CONTEXTUAL -->
            <input type="hidden" id="MenuContextual" value="{{ codigo_perfil }}" aria-label="CodigoPerfil">
            <!-- /.card-tools -->
          </div>
          <div>
              <!-- Buttons, labels, and many other things can be placed here! -->
                <!-- Here is a label for example -->
                <form  action="" method="post" name="formBuscar" id="formBuscar" role="form">
                  <!-- INPUT HIDE CONTROLA EL GUARDO DEL REGISTRO..-->
                  <input type="hidden" id="accion_buscar" name="accion_buscar" value = "GenerarCodigoNuevo" class="{required:true}">
                      <!-- Contextual button for informational alert messages -->
                      <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="left" title="Nuevo" id = "goNuevoUser">
                        <span class="fal fa-user-plus"></span>
                      </button>
                </form>
          </div>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
          <table id="listado" class="table table-bordered table-hover table-responsive nowrap">
            <thead>
                <tr class="ColorFila">
                  <th>Acción</th>
                  <th>Id</th>
                  <th>Estatus</th>
                  <th>Cargo</th>
                  <th>Nombre</th>
                  <th>Móvil</th>
                  <th>Fecha Nacimiento</th>
                  <th>DUI</th>
                  <th>NIT</th>
                  <th>NIP</th>
                </tr>                
            </thead>
              <tbody id="listadoOk">
              </tbody>
              <tfoot>

              </tfoot>
          </table>
        </div> <!-- /.card-body -->
        <!-- /.card-footer -->
        <div class="card-footer bg-gradient-navy">
              
        </div>
    </div>      <!-- /.card -->
  </div>
</div> <!-- /.content-Wrapper, Contains page content. -->
{% endblock %}

{% block loginUser %}
<!--	{% include 'layout-login-user.html' %} -->
{% endblock %}