<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Registro Académico</title>
    <link rel="shortcur icon" href="img/admin.ico">
    <link rel="stylesheet" href="js/toastr/toastr.min.css" >
    <link rel="stylesheet" href="js/plugins/fontawesome-pro-5.14.0-web/css/all.min.css">
    <link rel="stylesheet" href="bootstrap-5.3.6/css/bootstrap.min.css" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css">

    <link href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.bootstrap5.min.css" rel="stylesheet">
    <link rel="stylesheet" href="js/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="js/plugins/responsive/css/responsive.bootstrap.min.css">

    <link rel="stylesheet" href="docs/assets/css/docs.css">
    <link rel="stylesheet" href="docs/assets/css/highlighter.css">
    <link rel="stylesheet" href="docs/assets/css/adminlte.css">

    <link href="js/pace/bounce.css" rel="stylesheet">

    <style>
      /*Flecha para hacer la pagina hacia arriba*/
      .ir-arriba{
        display:none;
        background-repeat:no-repeat;
        font-size:20px;
        color:black;
        cursor:pointer;
        position:fixed;
        bottom:10px;
        right:10px;
        z-index:2;
      }
    </style>
    <script src="./js/jquery-3.7.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script type="text/JavaScript" src="bootstrap-5.3.6/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script src="./js/jqueryNumeric/jquery.numeric.js" ></script>
    <script type="text/JavaScript" src="js/jquery-validation-1.19.1/dist/jquery.validate.min.js"></script>
    <script type="text/JavaScript" src="js/jquery-validation-1.19.1/dist/localization/messages_es.js"></script>

    <script src="docs/assets/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <script src="./js/plugins/datatables/jquery.dataTables.js"></script>
    <script src="./js/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.bootstrap5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>
    <script src="./js/plugins/responsive/js/dataTables.responsive.min.js"></script>
    <script src="./js/plugins/responsive/js/responsive.bootstrap4.min.js"></script>

    <script src="docs/assets/js/adminlte.min.js"></script>
    <script src="./js/loadSideMenu.js"></script>

    <script src="./js/pace/pace.min.js"></script>
    <script type="text/JavaScript" src="./js/toastr/toastr.min.js">
      
    </script> <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

    <script>
      $(document).ready(function(){
        var toggleSwitch = document.querySelector('.theme-switch input[type="checkbox"]');
        var currentTheme = localStorage.getItem('theme');
        var mainHeader = document.querySelector('.main-header');
        if (currentTheme) {
          if (currentTheme === 'dark') {
            if (!document.body.classList.contains('dark-mode')) {
              document.body.classList.add("dark-mode");
            }
            if (mainHeader.classList.contains('navbar-light')) {
              mainHeader.classList.add('navbar-dark');
              mainHeader.classList.remove('navbar-light');
            }
            toggleSwitch.checked = true;
          }
        }
        function switchTheme(e) {
          if (e.target.checked) {
            if (!document.body.classList.contains('dark-mode')) {
              document.body.classList.add("dark-mode");
            }
            if (mainHeader.classList.contains('navbar-light')) {
              mainHeader.classList.add('navbar-dark');
              mainHeader.classList.remove('navbar-light');
            }
            localStorage.setItem('theme', 'dark');
          } else {
            if (document.body.classList.contains('dark-mode')) {
              document.body.classList.remove("dark-mode");
            }
            if (mainHeader.classList.contains('navbar-dark')) {
              mainHeader.classList.add('navbar-light');
              mainHeader.classList.remove('navbar-dark');
            }
            localStorage.setItem('theme', 'light');
          }
        }
        if (toggleSwitch) {
          toggleSwitch.addEventListener('change', switchTheme, false);
        }
      });
    </script>
    <script>
      paceOptions = {
        catchupTime: 100,
        minTime: 250,
        ghostTime: 100,
        maxProgressPerFrame: 20,
        easeFactor: 1.25,
        startOnPageLoad: true,
        restartOnPushState: true,
        restartOnRequestAfter: 500,
        target: 'body',
        elements: {
          checkInterval: 100,
          selectors: ['body']
        },
        eventLag: {
          minSamples: 10,
          sampleCount: 3,
          lagThreshold: 3
        },
        ajax: {
          trackMethods: ['POST'],
          trackWebSockets: true,
          ignoreURLs: []
        }
      };
    </script>
    <script type="Text/Javacript">
      toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-center",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "200",
        "hideDuration": "500",
        "timeOut": "5000",
        "extendedTimeOut": "500",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
      }
      
    </script>
    <script>
      $(document).ready(function(){ //Hacia arriba
        irArriba();
      });
      function irArriba(){
        $('.ir-arriba').click(function(){ $('body,html').animate({ scrollTop:'0px' },1000); });
        $(window).scroll(function(){
          if($(this).scrollTop() > 0){ $('.ir-arriba').slideDown(600); }else{ $('.ir-arriba').slideUp(600); }
        });
        $('.ir-abajo').click(function(){ $('body,html').animate({ scrollTop:'1000px' },1000); });
      }
    </script>
    <script type="text/Javascript" src="./js/principal_js_login.js"></script>
    <!-- <script type="text/JavaScript" src="./js/main_menu.js"></script> -->

    <script type="text/Javascript">
      function MostrarMensaje(){
          $.ajax({
            type: "POST",
            url: "includes/backup.php",
            //data: dataString,
            success: function() {
            toastr.success("Respaldo realizado");
            }
        });
      }
      // Se establece el tiempo 1s = 1000 milisegundos.
      setInterval(MostrarMensaje, 3600000); // Esto ejecutará MostrarMensaje cada hora.
    </script>
    <style>
      body{
        background-color: hsla(197, 71%, 39%, 0.7);
        color: black;
      }
      label{
        color: black;
      }
      .fondoBody{
        background-color: hsla(197, 77%, 83%, 0.7);;
      }

      .content-wrapper{
        background-color: hsla(197, 77%, 83%, 0.7);;
      }

      .card{
        background-color: hsl(125, 30%, 92%);
      }

      .form-control{
        background-color: hsla(183, 78%, 83%, 0.986);
      }
      .custom-select{
        background-color: hsla(184, 69%, 81%, 0.986);
        color:black;
      }
      /* LOADSCRENN*/
      #loading-screen{
        display: none;
      }
    </style>
  </head>
    {% block extraCSS %}

    {% endblock %}

    {% block javascripts %}{% endblock %}
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
        {% if logo_uno != '' %}
          <nav class="main-header navbar navbar-expand p-0" aria-label="main navigation">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" aria-label="menu"><i class="fas fa-bars"></i></a>
              </li>
              <li class="nav-item d-none d-sm-inline-block">
                <a href="index.php" class="nav-link">Home</a>
              </li>
              <li class="theme-switch-wrapper nav-link">
                <label class="theme-switch">
                  <input class="form-control" type="checkbox" id="checkbox" aria-label="check1">
                  <span class="slider round"></span>
                </label>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
              <li>
              <a class="nav-link" href="logout.php">
                  <i class="fas fa-power-off"></i>
                    Usuario: {{ nombre_personal }}
                </a>
              </li>
            </ul>
          </nav>
            <aside class="main-sidebar sidebar-dark-primary elevation-4">
                <a href="#" class="brand-link">
                  <img src="./img/{{ logo_uno }}" alt="" class="brand-image img-circle elevation-3 bg-white">
                  <span class="brand-text font-weight-light">CE {{ codigo_institucion }}</span>
                </a>
                <div class="sidebar">
                  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                      <img src="./images/nofoto.jpg" class="img-circle elevation-2" alt="">
                    </div>
                    <div class="info">
                      <a href="#" class="d-block">{{codigo_perfil}} - {{ nombre_perfil }}</a>
                    </div>
                  </div>
                  <nav class="mt-2" aria-label="Sidebar main navigation">
                      <div id="dynamic-sidebar-menu" class="sidebar-menu">
                        {% include 'layout-menu.html' %}
                      </div>
                  </nav>
                  </div>
                </aside>
          {% block contenidos %}

          {% endblock %}
          <footer class="main-footer text-black bg-black p-1">
            <div class="float-right d-none d-sm-inline">
              <small>{{ nombre_institucion }}</small>
            </div>
            <small>
              <strong>Copyright &copy; 2014-2024 Registro Académico.</strong>
              <a href="AcercaDe.php">Acerca de...</a>
            </small>
          </footer>
        {% else %}
          {% block menu %}{% endblock %}
          {% block loginUser %}{% endblock %}
        {% endif %}
    </div>
    <a class="ir-arriba"  javascript:void(0) title="Volver arriba">
      <span class="fa-stack">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-arrow-up fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </body>
</html>