<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Sistema de Gestión Escolar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Desarrolando una interza de usuario para aplicación web">
    <meta name="author" content="Sistema de Gestión Escolar" >
        
    <link rel="shortcur icon" href="img/admin.ico">
    
    <!-- CÓDIGO CSS -->
    <link rel="stylesheet" href="bootstrap-3-3-5/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-3-3-5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/start/jquery-ui-1.10.4.custom.css" >
    <link rel="stylesheet" href="js_libs/alertify.js/themes/alertify.core.css" />
    <link rel="stylesheet" href="js_libs/alertify.js/themes/alertify.default.css" />
	<link rel="stylesheet" href="bootstrap-3-3-5/css/bootstrap-submenu.min.css">

    <!-- default CSS -->
    <link rel="stylesheet" href="css/default_layout.css" >
	<link rel="stylesheet" href="css/addon.css" >
	<link rel="stylesheet" href="css/layout_checbox_radio.css" >
	<link rel="stylesheet" href="css/Font-Awesome/css/font-awesome.min.css" >
	<!-- PACE - Barra de progreso -->
	<link rel="stylesheet" href="js_libs/pace/templates/pace-theme-loading-bar.tmpl.css" >
	<link rel="stylesheet" href="js_libs/pace/templates/progress-bar.css" >
	<!-- XZOOM -->
	<link rel="stylesheet" type="text/css" href="js_libs/xzoom/example/css/demo.css" media="all" />
	<link rel="stylesheet" type="text/css" href="js_libs/xzoom/example/css/xzoom.css" media="all" />
	<link type="text/css" rel="stylesheet" media="all" href="js_libs/xzoom/example/fancybox/source/jquery.fancybox.css" />
	<link type="text/css" rel="stylesheet" media="all" href="js_libs/xzoom/example/magnific-popup/css/magnific-popup.css" />
	<!-- DATATABLES -->
	<link rel="stylesheet" type="text/css" href="js_libs/DataTables/media/css/jquery.dataTables.min.css" media="all" />
    <!-- CÓDIGO JAVA -->
    <!-- JQUERY -->
    <script type="text/javascript" src="js_libs/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js_libs/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="js_libs/jquery/jquery-2.1.1.min.js"></script>
    <!-- Mensajes con Alertify.js...-->
    <script type="text/javascript" src="js_libs/alertify.js/lib/alertify.js"></script>
    <!-- BOOTSTRAP -->
    <script type="text/javascript" src="bootstrap-3-3-5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bootstrap-3-3-5/js/bootstrap-submenu.min.js"></script>

    <!-- JQUERY UI START -->
    <script type="text/javascript" src="js_libs/jquery_ui/jquery-ui-1.10.4.custom.min.js"></script>
    
    <!-- JS  METADATA, VALIDATE Y MESSAGES -->
    <script type="text/javascript" src="js_libs/jquery-validation-1.10.0/lib/jquery.metadata.js"></script>
    <script type="text/javascript" src="js_libs/jquery-validation-1.10.0/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="js_libs/jquery-validation-1.10.0/localization/messages_es.js"></script>

    <!-- JSQUERY EASING -->
    <script type="text/javascript" src="js_libs/jquery-easy/jquery.easing.1.3.js"></script>
	<!-- file style -->
	<script type="text/javascript" src="js_libs/filestyle/src/bootstrap-filestyle.min.js"> </script>
	<!-- PACE Barra de Progreso. -->
	<script type="text/javascript" src="js_libs/pace/pace.js"> </script>
	<!-- XZOOM. -->
	<script type="text/javascript" src="js_libs/xzoom/dist/xzoom.min.js"> </script>
	<!-- ZOOMOOZ. -->
	<script type="text/javascript" src="js_libs/zoomooz/jquery.zoomooz.min.js"> </script>
	<!-- DATATABLE. -->
	<script type="text/javascript" src="js_libs/DataTables/media/js/jquery.dataTables.min.js"> </script>
	<script type="text/javascript" src="js_libs/DataTables/media/js/dataTables.bootstrap.min.js"> </script>
  <!-- hammer plugin here -->
	<script type="text/javascript" src="js_libs/xzoom/example/hammer.js/1.0.5/jquery.hammer.min.js"></script>
	<script type="text/javascript" src="js_libs/xzoom/example/fancybox/source/jquery.fancybox.js"></script>
	<script type="text/javascript" src="js_libs/xzoom/example/magnific-popup/js/magnific-popup.js"></script>   
	
    
    {% block extraCSS %}{% endblock %}
        
    {% block javascripts %}{% endblock %}
    <script type="text/javascript" src="js_libs/main_javascript_login.js"></script>
    
	<script>
	$(document).ready(function(){
		$('ul.dropdown-menu [data-toggle=dropdown]').on('click', function(event) {
			event.preventDefault(); 
			event.stopPropagation(); 
			$(this).parent().siblings().removeClass('open');
			$(this).parent().toggleClass('open');
		});
	});
    </script>
	<script type="text/javascript">
		function MostrarMensaje(){
		     $.ajax({
			    type: "POST",
			    url: "includes/backup.php",
			    //data: dataString,
			    success: function() {
					alertify.log("Respaldo realizado"); 
			    }
			});
		}
		// Se establece el tiempo 1s = 1000 milisegundos.
		setInterval(MostrarMensaje, 3600000);
	</script>
</head>

<body>

<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">  
        <div class="container-fluid">
            <div class="navbar-header">
					{% if logo_uno == '' %}
						  <!-- El logotipo y el icono que despliega el menú se agrupan
							   para mostrarlos mejor en los dispositivos móviles -->
						  <div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse"
									data-target=".navbar-ex1-collapse">
							  <span class="sr-only">Desplegar navegación</span>
							  <span class="icon-bar"></span>
							  <span class="icon-bar"></span>
							  <span class="icon-bar"></span>
							</button>
							<a class="navbar-brand">Sistema de Gestión Escolar</a>
						  </div>

						
					{% else %}
						  <!-- El logotipo y el icono que despliega el menú se agrupan
							   para mostrarlos mejor en los dispositivos móviles -->
						  <div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse"
									data-target=".navbar-ex1-collapse">
							  <span class="sr-only">Desplegar navegación</span>
							  <span class="icon-bar"></span>
							  <span class="icon-bar"></span>
							  <span class="icon-bar"></span>
							</button>
							<a class="navbar-brand">Sistema de Gestión Escolar</a>
						  </div>
						
						<!--  
						<img style="height:40px; width:50px;" src="img/{{ logo_uno }}" class="navbar navbar-default">
						<a class="navbar-brand">Sistema de Gestión Escolar</a> -->
			
					{% endif %}
					
			</div>

				{% block menu %}{% endblock %}		
				{% block loginUser %}{% endblock %}
				
        </div>

</nav>


    <div id="contentContainer" class="container">
        {% block contenidos %}
        
        {% endblock %}
	</div>

{% if logo_uno != '' %}
		<footer>
		  <p>Centro Escolar: {{ nombre_institucion }} - Bienvenido(a): {{ nombre_personal }} - Perfil: {{ nombre_perfil }}</p>
		</footer>
{% endif %}  
</body>
</html>
