{# Heredando la plantilla principal #}

{% extends 'default_layout.html' %}

{% block extraCSS %}
  <link href="css/styles-loading.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <script type="text/JavaScript" src="js/main_notas_por_estudiante.js"></script>
    <script type="text/JavaScript" src="js/default.js"></script>
    <!-- JQUERY NUMERIC . -->
    <script type="text/javascript">
    // VALIDAR NIE NUMERO ENTERO.
    function validarEntero(elemento){
      $(".positive-integer").numeric({ decimal: false, negative: false }, function() { this.value = ""; this.focus(); });
    }
    // VALIDAR NUMEROS PARA LA TABLA.
    	function validarCualquierNumero(elemento){
            console.log(elemento.value);
            $(".decimal-1-places").numeric({negative: false, decimalPlaces: 1});
            if (elemento.value < 0){elemento.value = ""; this.focus();}
            if (elemento.value > 10){elemento.value = ""; this.focus();}
      }
    </script>
<!-- cargar datos del nombre del archivo. -->
<script language="javascript">
// Carga la INformación de Tabla Año Lectivo.
$(document).ready(function()
{
    var ver_ann_lectivo = "si";
			var miselect=$("#lstannlectivo");
			/* VACIAMOS EL SELECT Y PONEMOS UNA OPCION QUE DIGA CARGANDO... */
			miselect.find('option').remove().end().append('<option value="">Cargando...</option>').val('');
			
			$.post("includes/cargar-ann-lectivo.php",{verificar_ann_lectivo: ver_ann_lectivo},
				function(data) {
					miselect.empty();
					for (var i=0; i<data.length; i++) {
						miselect.append('<option value="' + data[i].codigo + '">' + data[i].nombre + '</option>');
					}
			}, "json");
});
</script>
{% endblock %}

{% block contenidos %}
 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header p-0">
      <div class="container-fluid">
        <div class="row mb-1">
          <div class="col-sm-6">
            <h4></h4>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="index.php">Home</a></li>
              <li class="breadcrumb-item active">Calificaciones por Estudiante</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col">
            <!-- general form elements -->
            <div class="card">
              <div class="card-header bg-gradient-navy">
                <h3 class="card-title">Calificaciones por Estudiante</h3>
              </div>
              <!-- /.card-header -->
              <!-- card body - form start -->
              <div class="card-body">
                <form action="" method="post" name="formCalificacionPorEstudiante" id="formCalificacionPorEstudiante" class="form-horizontal">
                    <!-- / variable ACCION -->
                        <input type="hidden" id="accion_buscar" name="accion_buscar" value = "BuscarEstudiante" class="{required:true}">
                    <!-- / CODIGO MATRICULA  -->
                        <input type="hidden" id="codigo_matricula" name="codigo_matricula" value = "">
                    <!-- / CODIGO ALUMNO  -->
                    <input type="hidden" id="codigo_alumno" name="codigo_alumno" value = "">
                    <!-- / CODIGO GRADO -->
                    <input type="hidden" id="codigo_grado" name="codigo_grado" value = "">
                    <!-- / todos  -->
                    <input type="hidden" id="todos" name="todos" value = "">
                    <!-- / CODIGO BACHILLERATO  -->
                    <input type="hidden" id="codigo_bachillerato" name="codigo_bachillerato" value = "">
                    <div class="form-group row">
                    <!-- / CODIGO NIE  -->
                    <label class="col-sm-4 col-form-label" for="codigo_nie">NIE</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control positive-integer" id="codigo_nie" name="codigo_nie" onkeypress='return validarEntero(this);' autofocus>  
                    </div>
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-info" id = "goCalificacionBuscar">
                            <span class="fas fa-search"></span> Buscar
                        </button>
                    </div>
                  </div>
                  <!-- / AÑO LECTIVO -->
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label" for="lstannlectivo">Año Lectivo</label>
                      <div class="col-sm-6">
                        <select id="lstannlectivo" name="lstannlectivo" class="custom-select"></select>
                      </div>
                    </div>

                    <!-- / PRIODO O TRIMESTRE. -->
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label" for="lstperiodo">Período</label>
                      <div class="col-sm-6">
                        <select id="LstPeriodo" name="LstPeriodo" class="custom-select"></select>
                      </div>
                    </div>
              </div>
            </form>
                <!-- /.card-body -->
                <div class="card-footer">
                  <input type="hidden" id="accion_actualizar" name="accion_actualizar" value = "">
                  <div class="row">
                    <div class="col col-md-6 col-lg-6">
                      <div class="form-group">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input" type="checkbox" id="chkfirmas">
                          <label for="chkfirmas" class="custom-control-label">Firma</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input" type="checkbox" id="chksellos">
                          <label for="chksellos" class="custom-control-label">Sello</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input" type="checkbox" id="chkfoto">
                          <label for="chkfoto" class="custom-control-label">Foto</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input" type="checkbox" id="chkCrearArchivoPdf">
                          <label for="chkCrearArchivoPdf" class="custom-control-label">Crear Archivo PDF</label>
                        </div>
                      </div>
                    </div>
                    <div class="col col-md-6 col-lg-6 d-flex justify-content-end">
                      <button type="button" class="btn btn-dark" id = "goNotasImprimir" disabled="disabled">
                        <span class="fas fa-print"></span>
                      </button>
                    </div>
                  </div>
                </div>
            </div>
            <!-- /.card -->
          </div> <!--/.col (left) -->
        </div>
          <!-- right column -->
          <div class="row">
            <div class="col">
             <div class="card card-secondary w-100 mx-auto" id="tabstabla">
                <div class="card-header">
                  <h3 class="card-title"><label for="titulo_tabla" class="custom-control-label">Estudiante.</label></h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                  <table class="table table-striped table-sm" id="tablaNotas">
                    <thead>
                      <tr>
                        <th>N°</th>
                        <th>Área</th>
                        <th>Componente del Plan de Estudio</th>
                        <th>Calificación</th>
                        <th>Observación</th>
                      </tr>                    
                    </thead>
                    <tbody id="listaCalificacionPorEstudianteOK">
                     
                    </tbody>
                  </table>
                </div><!-- /.card-body -->
                <!-- /.card-footer -->
                 <div class="card-footer">
                  <button type="button" class="btn btn-secondary btn-md" id = "goNotasActualizar" disabled="disabled">
                    <span class="fas fa-save"></span> Guardar
                  </button>
                  </div>
              </div>
            <!-- /.card -->
            </div><!-- /.col rigth -->
          </div> <!-- CLASS ROW PARA EL INGRESO DE NOTAS. -->
    </section>
  </div> <!-- /.Content Wrapper. Caontains page content -->			

<!-- Loading Screen -->
  {% include 'loading-screen.html' %}

  {% endblock %}

{% block menu %}
<!-- plantilla que contiene el menú principal. -->
		{% include 'layout-menu.html' %}
{% endblock %}

{% block loginUser %}
<!--	{% include 'layout-login-user.html' %} -->
{% endblock %}