{# Heredando la plantilla principal #}

{% extends 'default_layout.html' %}

{% block extraCSS %}
  <link href="css/styles-loading.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}


</script>
<!-- DEINIR EL AJAX START- STOP Y ERROR -->
<script>
 $(document).ready(function () { 
  var screen = $('#loading-screen');
    configureLoadingScreen(screen);
  })
</script>
{% endblock %}

{% block contenidos %}

  
  <!-- Loading Screen -->
  {% include 'loading-screen.html' %}

{% endblock %}

{% block menu %}
<!-- plantilla que contiene el menú principal. -->
		{% include 'layout-menu.html' %}
{% endblock %}

{% block loginUser %}
<!--	{% include 'layout-login-user.html' %} -->
{% endblock %}