{# Heredando la plantilla principal #}

{% extends 'default_layout.html' %}

{% block javascripts %}
    <!-- JS para esta página. -->
    <script type="text/JavaScript" src="js/main_estudiante.js"></script>
    <script>
        (function(){
            function removeAccents ( data ) {
                if ( data.normalize ) {
                    // Use I18n API if avaiable to split characters and accents, then remove
                    // the accents wholesale. Note that we use the original data as well as
                    // the new to allow for searching of either form.
                    return data +' '+ data
                        .normalize('NFD')
                        .replace(/[\u0300-\u036f]/g, '');
                }
              
                return data;
            }
              
            var searchType = jQuery.fn.DataTable.ext.type.search;
              
            searchType.string = function ( data ) {
                return ! data ?
                    '' :
                    typeof data === 'string' ?
                        removeAccents( data ) :
                        data;
            };
              
            searchType.html = function ( data ) {
                return ! data ?
                    '' :
                    typeof data === 'string' ?
                        removeAccents( data.replace( /<.*?>/g, '' ) ) :
                        data;
            };
              
            }());
    </script>
{% endblock %}

{% block contenidos %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header p-0" style="background-color: rgb(234, 236, 238);">
      <div class="container-fluid">
        <div class="row mb-1">
          <div class="col-sm-6">
            <h4></h4>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="index.php">Home</a></li>
              <li class="breadcrumb-item active">Busqueda</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    
  <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header bg-gradient-navy">
              <h3 class="card-title">Estudiantes</h3>
               <!-- Buttons, labels, and many other things can be placed here! -->
                <!-- Here is a label for example -->
                <form  action="" method="post" name="formBuscar" id="formBuscar" role="form">
                  <!-- INPUT HIDE CONTROLA EL GUARDO DEL REGISTRO..-->
                  <input type="hidden" id="accion_buscar" name="accion_buscar" value = "GenerarCodigoNuevo" class="{required:true}">
                      <!-- Contextual button for informational alert messages -->
                      <button type="button" class="btn btn-success btn-md" data-toggle="tooltip" data-placement="top" title="Nuevo Estudiante" id = "goNuevoUser">
                        <span class="fal fa-user-plus"></span>
                      </button>
                </form>
              <div class="card-tools align-content-center">
               
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="listadoEstudiantes" class="table table-bordered table-hover table-responsive nowrap" style="width: 100%;">
                <thead>
                    <tr>
                      <th>Acción</th>
                      <th>Id</th>
                      <th>NIE</th>
                      <th>Nombre Completo</th>
                      <th>Fec. Nac.</th>
                      <th>Edad</th>
                      <th>Estatus</th>
                      <th>Encargado Nombre</th>
                      <th>Fecha Nacimiento: </th>
                      <th>Familiar: </th>
                      <th>DUI: </th>
                      <th>Dirección:</th>
                      <th>N.º Teléfono:</th>
                    </tr>                
                </thead>
                  <tbody id="listadoEstudiantesOk">
                  </tbody>
                  <tfoot>

                  </tfoot>
              </table>
            </div> <!-- /.card-body -->
            <!-- /.card-footer -->
            <div class="card-footer">
              
            </div>
          </div> <!-- /.card -->
        </div>
      </div>
    </section>  
</div> <!-- /.content-Wrapper, Contains page content. -->
{% endblock %}

{% block loginUser %}
<!--	{% include 'layout-login-user.html' %} -->
{% endblock %}