{# Heredando la plantilla principal #}

{% extends 'default_layout.html' %}

{% block extraCSS %}
<link href="css/styles-loading.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script type="text/JavaScript" src="js/Calificaciones/porAsignatura.js"></script>
    <script type="text/JavaScript" src="js/Calificaciones/cargarValidaciones.js"></script>
    <script type="text/JavaScript" src="js/Calificaciones/cargarDatosPorAsignatura.js"></script>
    <script type="text/JavaScript" src="js/Calificaciones/rangoPorAsignatura.js"></script>

    <!-- JQUERY NUMERIC . -->
    <script type="text/javascript">
    	function validarCualquierNumero(){
    		$(".decimal-1-places").numeric({negative: false, decimalPlaces: 1});
      }
    </script>
<!-- DEINIR EL AJAX START- STOP Y ERROR -->
<script>
  $(document).ready(function () { 
   var screen = $('#loading-screen');
     configureLoadingScreen(screen);
   })
 </script>
{% endblock %}

{% block contenidos %}
 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-1">
          <div class="col-sm-6">
            <h4>Calificaciones por Asignatura</h4>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="index.php">Home</a></li>
              <li class="breadcrumb-item active">Calificaciones por Asignatura</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col">
            <!-- general form elements -->
            <div class="card card-primary mx-auto">
              <div class="card-header">
                <h3 class="card-title">Seleccione.</h3>
              </div>
              <!-- /.card-header -->
              <!-- card body - form start -->
              <div class="card-body">
                <form action="" method="post" name="formNotasPorAsignatura" id="formNotasPorAsignatura" class="form-horizontal">
                  <input type="hidden" id="accion_buscar" name="accion_buscar" value = "BuscarNotas" class="{required:true}">
                  <!-- / AÑO LECTIVO -->
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label" for="lstannlectivo">Año Lectivo</label>
                      <div class="col-sm-6">
                        <select id="lstannlectivo" name="lstannlectivo" autofocus class="custom-select" required="required"></select>
                      </div>
                    </div>
                    <!-- / MODALIDAD -->
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label" for="lstmodalidad">Modalidad</label>
                      <div class="col-sm-6">
                        <select id="lstmodalidad" name="lstmodalidad" class="custom-select"></select>
                      </div>
                    </div>
                    <!-- / GRADO, SECCION Y TURNO -->
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label" for="lstgradoseccion">Grado - Sección - turno</label>
                      <div class="col-sm-6">
                        <select id="lstgradoseccion" name="lstgradoseccion" class="custom-select"></select>
                      </div>
                    </div>
                    <!-- / Asignatura -->
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label" for="lstasignatura">Asignatura</label>
                      <div class="col-sm-6">
                        <select id="lstasignatura" name="lstasignatura" class="custom-select"></select>
                      </div>
                    </div>
                    <!-- / PRIODO O TRIMESTRE. -->
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label" for="lstperiodo">Período o Trimestre</label>
                      <div class="col-sm-6">
                        <select id="lstperiodo" name="lstperiodo" class="custom-select"></select>
                      </div>
                    </div>

              </div>
                <!-- /.card-body -->
                <div class="card-footer d-flex justify-content-center">
                    <div class="form-group row">
                      <button type="submit" class="btn btn-primary" id = "goNotasBuscar">
                        <span class="fas fa-search"></span> Buscar Registros
                        </button>
                        <button type="button" class="btn btn-success" id = "goNotasActualizar" disabled>
                        <span class="fas fa-save"></span> Actualizar Registros
                        </button>
                        <button type="button" class="btn btn-danger" id = "goNotasCancelar">
                        <span class="fas fa-window-close"></span> Cancelar
                        </button>
                  
                        <button type="button" class="btn btn-info" id = "goNotasImprimir">
                        <span class="fas fa-print"></span> Ver o Imprimir Notas
                        </button>
                    </div>
                    <!-- ... tus selects lstannlectivo, lstmodalidad, etc. ... -->
                </div>
                
            </div>

                </form>
            <!-- /.card -->
          </div> <!--/.col (left) -->
        </div>
        <!-- Botón para lanzar el proceso -->
<button id="btnRangoCalificaciones" class="btn btn-primary">
  <i class="fa fa-chart-bar"></i> Rangos Calificaciones
</button>
          <!-- right column -->
          <div class="row">
            <div class="col">
             <div class="card card-secondary w-100 mx-auto" id="tabstabla">
                <div class="card-header">
                  <h3 class="card-title">...</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                  <table class="table table-striped table-sm" id="tablaNotas">
                    <thead>
                      <tr>
                        <th>N°</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="text-center">NIE</th>
                        <th>Apellidos - Nombres</th>
                        <th></th>
                        <th style="width:40%" class="text-center">Nota</th>
                      </tr>                    
                    </thead>
                    <tbody id="listaNotasPorAsignaturaOK">
                     
                    </tbody>
                  </table>
                </div><!-- /.card-body -->
                <!-- /.card-footer -->
                 <div class="card-footer">
                  
                  </div>
              </div>
            <!-- /.card -->
            </div><!-- /.col rigth -->
          </div> <!-- CLASS ROW PARA EL INGRESO DE NOTAS. -->
    </section>
  </div> <!-- /.Content Wrapper. Caontains page content -->			
<!-- Modal Bootstrap -->




  
  <!-- Loading Screen -->
  {% include 'loading-screen.html' %}
  <!-- Ventana Modal Rango Calificaciones. -->
  {% include 'VentanaModalRangoCalificaciones.html' %}
{% endblock %}

{% block menu %}
<!-- plantilla que contiene el menú principal. -->
		{% include 'layout-menu.html' %}
{% endblock %}

{% block loginUser %}
<!--	{% include 'layout-login-user.html' %} -->
{% endblock %}