{# Heredando la plantilla principal #}

{% extends 'default_layout.html' %}

{% block extraCSS %}
{% endblock %}

{% block javascripts %}
    <script type="text/JavaScript" src="js/main_datos_masivos_2.js"></script>
    <script type="text/JavaScript" src="js/default.js"></script>
    <script type="text/javaScript" src="js/jquery-mask/jquery.maskedinput.js"></script>
    <script type="text/JavaScript" src="js/Utilidades/cargarDatosSelect.js"></script>
    <script type="text/JavaScript" src="js/Utilidades/utilidadesSelect.js"></script>
    {% endblock %}

{% block contenidos %}
 <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-1">
          <div class="col-sm-6">
            <h4>Estudiante - Información del Encargado.</h4>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="index.php">Home</a></li>
              <li class="breadcrumb-item active">Datos Masivos 2</li>
            </ol>
          </div>
        </div>
      </div></section>

<section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <div class="card card-primary mx-auto">
              <div class="card-header">
                <h3 class="card-title">Seleccione.</h3>
              </div>
              <div class="card-body">
                <form action="" method="post" name="formDatosPn" id="formDatosPn" class="form-horizontal">
                  <input type="hidden" id="accion_buscar" name="accion_buscar" value = "BuscarLista" class="{required:true}">
                  <div class="form-group row">
                      <label class="col-sm-4 col-form-label" for="lstannlectivo">Año Lectivo</label>
                      <div class="col-sm-6">
                        <select id="lstannlectivo" name="lstannlectivo" autofocus class="custom-select" required="required"></select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label" for="lstmodalidad">Modalidad</label>
                      <div class="col-sm-6">
                        <select id="lstmodalidad" name="lstmodalidad" class="custom-select"></select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label" for="lstgradoseccion">Grado - Sección - turno</label>
                      <div class="col-sm-6">
                        <select id="lstgradoseccion" name="lstgradoseccion" class="custom-select"></select>
                      </div>
                    </div>
              </div>
                <div class="card-footer d-flex justify-content-center">
                  <div class="form-group row">
                    <button type="submit" class="btn btn-primary" id = "goBuscar">
                      <span class="fas fa-search"></span> Buscar Registros
                    </button>
                    <button type="button" class="btn btn-success" id = "goActualizar" disabled>
                      <span class="fas fa-save"></span> Actualizar Registros
                    </button>
                    <button type="button" class="btn btn-danger" id = "goCancelar">
                      <span class="fas fa-window-close"></span> Cancelar
                    </button>
                  </div>
                </div>
            </div>
                </form>
            </div> </div>
          <div class="row">
            <div class="col">
             <div class="card card-secondary mx-auto" id="tabstabla">
                <div class="card-header">
                  <h3 class="card-title">...Información del Responsable...</h3>
                </div>
                <div class="card-body p-0">
                  <div class="table-responsive">
                    <table class="table table-striped table-sm" id="tablaDatosPn">
                      <thead>
                        <tr>
                          <th style="width: 3%">N°</th>
                          <th style="width: 5%">Id</th>
                          <th style="width: 15%">Apellidos - Nombres</th>
                          <th><label data-toggle='tooltip' data-placement='top' title='Información del Encargado'>Padre/DUI</label></th>
                          <th><label data-toggle='tooltip' data-placement='top' title='Información del Encargado'>Madre/DUI</label></th>
                          <th><label data-toggle='tooltip' data-placement='top' title='Información del Encargado'>Otro/DUI</label></th>
                        </tr>                    
                      </thead>
                      <tbody id="listaPnOK">
                       
                      </tbody>
                    </table>
                  </div>
                </div><div class="card-footer">
                  
                  </div>
              </div>
            </div></div> </section>
  </div> {% endblock %}

{% block menu %}
{% endblock %}

{% block loginUser %}
{% endblock %}