{# Heredando la plantilla principal #}

{% extends 'default_layout.html' %}

{% block extraCSS %}
<link href="css/styles-loading.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <script type="text/JavaScript" src="js/main_indicadores_matricula.js"></script>
    <script type="text/JavaScript" src="js/default.js"></script>
<!-- cargar datos del nombre del archivo. -->
<script language="javascript">
// Carga la INformación de Tabla Año Lectivo.
	$(document).ready(function()
	{
      var ver_ann_lectivo = "si";
			var miselect=$("#lstannlectivo");
			/* VACIAMOS EL SELECT Y PONEMOS UNA OPCION QUE DIGA CARGANDO... */
			miselect.find('option').remove().end().append('<option value="">Cargando...</option>').val('');
			
			$.post("includes/cargar-ann-lectivo.php",{verificar_ann_lectivo: ver_ann_lectivo},
				function(data) {
					miselect.empty();
					miselect.append('<option value="">Seleccionar...</option>');
					for (var i=0; i<data.length; i++) {
						miselect.append('<option value="' + data[i].codigo + '">' + data[i].nombre + '</option>');
					}
			}, "json");
	});

	// Información del año lectivo y modalidad.
    $(document).ready(function()
    {
	// Parametros para el año lectivo.
	$("#lstannlectivo").change(function () {
	    	    var miselect=$("#lstmodalidad");
		    /* VACIAMOS EL SELECT Y PONEMOS UNA OPCION QUE DIGA CARGANDO... */
			miselect.find('option').remove().end().append('<option value="">Cargando...</option>').val('');
			
   		$("#lstannlectivo option:selected").each(function () {
				elegido=$(this).val();
				annlectivo=$("#lstannlectivo").val();
				$.post("includes/cargar-bachillerato.php", { annlectivo: annlectivo },
				       function(data){
					miselect.empty();
					miselect.append('<option value="">Seleccionar...</option>');
					for (var i=0; i<data.length; i++) {
						miselect.append('<option value="' + data[i].codigo + '">' + data[i].descripcion + '</option>');
					}
			}, "json");			
	    });
	});
	    // Parametros para el grado y sección, al seleccionar el bachillerato.
	    $("#lstmodalidad").change(function () {
				var miselect=$("#lstgradoseccion");
				var lblturno=$("#lblturno");
		    /* VACIAMOS EL SELECT Y PONEMOS UNA OPCION QUE DIGA CARGANDO... */
          miselect.find('option').remove().end().append('<option value="">Cargando...</option>').val('');
            $("#lstmodalidad option:selected").each(function () {
              lblturno.empty();
              elegido=$(this).val();
              ann=$("#lstannlectivo").val();
              $.post("includes/cargar-grado-seccion.php", { elegido: elegido, ann: ann },
                     function(data){
                      miselect.empty();
                      miselect.append('<option value="">Seleccionar...</option>');
                      for (var i=0; i<data.length; i++) {
                        miselect.append('<option value="' + data[i].codigo_grado + data[i].codigo_seccion + data[i].codigo_turno + '">' + data[i].descripcion_grado + ' ' + data[i].descripcion_seccion + ' - ' + data[i].descripcion_turno + '</option>');
                      }			 		 
                }, "json");
           });
	  });
});
</script>
<!-- DEINIR EL AJAX START- STOP Y ERROR -->
<script>
  $(document).ready(function () { 
   var screen = $('#loading-screen');
     configureLoadingScreen(screen);
   })
 </script>
{% endblock %}

{% block contenidos %}
 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header p-0">
      <div class="container-fluid">
        <div class="row mb-1">
          <div class="col-sm-6">
            <h4></h4>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="index.php">Home</a></li>
              <li class="breadcrumb-item active">Indicadores Matricula</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col">
            <!-- general form elements -->
            <div class="card">
              <div class="card-header bg-gradient-navy">
                <h3 class="card-title">Indicadores Matricula</h3>
              </div>
              <!-- /.card-header -->
              <!-- card body - form start -->
              <div class="card-body">
                <form action="" method="post" name="formDatosMatricula" id="formDatosMatricula" class="form-horizontal">
                  <input type="hidden" id="accion_buscar" name="accion_buscar" value = "BuscarLista" class="{required:true}">
                  <!-- / AÑO LECTIVO -->
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label" for="lstannlectivo">Año Lectivo</label>
                      <div class="col-sm-6">
                        <select id="lstannlectivo" name="lstannlectivo" autofocus class="custom-select" required="required"></select>
                      </div>
                    </div>
                    <!-- / MODALIDAD -->
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label" for="lstmodalidad">Modalidad</label>
                      <div class="col-sm-6">
                        <select id="lstmodalidad" name="lstmodalidad" class="custom-select"></select>
                      </div>
                    </div>
                    <!-- / GRADO, SECCION Y TURNO -->
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label" for="lstgradoseccion">Grado - Sección - turno</label>
                      <div class="col-sm-6">
                        <select id="lstgradoseccion" name="lstgradoseccion" class="custom-select"></select>
                      </div>
                    </div>
              </div>
                <!-- /.card-body -->
                <div class="card-footer d-flex justify-content-center">
                  <div class="form-group row">
                    <button type="submit" class="btn btn-primary btn-md" id = "goBuscar" title="Buscar">
                      <span class="fas fa-search"></span>                    
                    </button>
                    <button type="button" class="btn btn-success btn-md" id = "goActualizar" title="Actualizar" disabled>
                      <span class="fas fa-save"></span>                    
                    </button>
                    <button type="button" class="btn btn-danger btn-md" id = "goCancelar" title="Cancelar">
                      <span class="fas fa-window-close"></span>
                    </button>
                  </div>
                </div>
            </div>
                </form>
            <!-- /.card -->
          </div> <!--/.col (left) -->
        </div>
          <!-- right column -->
          <div class="row">
            <div class="col">
             <div class="card mx-auto" id="tabstabla">
                <div class="card-header">
                  <h3 class="card-title">...</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                  <table class="table table-striped table-sm" id="tablaDatosMatricula">
                    <thead>
                      <tr>
                        <th>N°</th>
                        <th></th>
                        <th></th>
                        <th>NIE</th>
                        <th>Apellidos - Nombres</th>
                        <th>Sección - Turno</th>
                        <th><label data-toggle='tooltip' data-placement='top' title='Sobreedad'>Sob.</label></th>
                        <th><label data-toggle='tooltip' data-placement='top' title='Repitente'>Rep.</label></th>
                        <th><label data-toggle='tooltip' data-placement='top' title='Retirado'>Ret.</label></th>
                        <th><label data-toggle='tooltip' data-placement='top' title='Nuevo Ingreso'>N.I.</label></th>
                        <th><label data-toggle='tooltip' data-placement='top' title='Partida de Nacimiento'>P.N.</label></th>
                        <th><label data-toggle='tooltip' data-placement='top' title='Certificado'>Cer.</label></th>
                        <th><label data-toggle='tooltip' data-placement='top' title='Imprimir Foto'>I.F.</label></th>
                      </tr>                    
                    </thead>
                    <tbody id="listaDatosMatriculaOK">
                     
                    </tbody>
                  </table>
                </div><!-- /.card-body -->
                <!-- /.card-footer -->
                 <div class="card-footer">
                  
                  </div>
              </div>
            <!-- /.card -->
            </div><!-- /.col rigth -->
          </div> <!-- CLASS ROW PARA EL INGRESO DE NOTAS. -->
    </section>
  </div> <!-- /.Content Wrapper. Caontains page content -->	
  
  <div id="loading-screen" style="display:none">
    <img src="img/spinning-circles.svg">
    <h3>
      <label for="LblDescripcion" class="">Por Favor Espere...</label>
    </h3>
  </div>
{% endblock %}

{% block menu %}
<!-- plantilla que contiene el menú principal. -->
		{% include 'layout-menu.html' %}
{% endblock %}

{% block loginUser %}
<!--	{% include 'layout-login-user.html' %} -->
{% endblock %}