<div class="modal fade" id="modalRecuperacion" tabindex="-1" aria-labelledby="modalRecuperacionLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header bg-warning">
          <h5 class="modal-title" id="modalRecuperacionLabel">Notas de Recuperación</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar" tabindex="-1"></button>
        </div>
        <div class="modal-body">
          <table class="table table-bordered table-hover" id="tablaRecuperacion">
            <thead class="table-light">
              <tr>
                <th scope="col">N.º</th>
                <th scope="col">Nombre del Estudiante</th>
                <th scope="col">NOTA R1</th>
                <th scope="col">NOTA R2</th>
                <th scope="col">NF</th>
                <th scope="col">Resultado</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  