<!-- VENTANA MODAL - MODIFICAR LA FECHA DE LA FACTURA -->
<div class="row mt-3">
<div class="col">
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="VentanaSe" tabindex="-1" role="dialog" aria-labelledby="VentanaSe" aria-hidden="true">
<div class="modal-dialog modal-md">
	<div class="modal-content">
		<div class="modal-header bg-gradient-navy p-1">
			<h6 class="modal-title" id="">
        <span class="fad fa-layer-group"></span>
          <label for="LblTituloSe">Servicios Educativos | </label>
      </h6>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<!-- FORMULARIO PRINCIPAL. -->
		<form action="" method="post" name="formVentanaSe" id="formVentanaSe" role="form" enctype="multipart/form-data">
      <!-- SECCION DEL HIDDEN INPUT-->
      <input type="hidden" id="accion_Se" name="accion_Se" value="GuardarSe">

			<div class="modal-body">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-12 col-lg-12 col-xl-12">
                <fieldset id="FieldsetBusquedaTiquete">
                    <legend> Servicios Educativos | Sistema Educativo</legend>
                        <div class="row">
                            <div class="col col-md-12 col-lg-12 col-xl-12">
                                <div class="input-group">
                                    <span class="input-group-text text-info" id="TextoSESe" name="TextoSE"></span>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset id="FieldsetProduccion">
                        <legend> Servicios Educativos | Información General</legend>
                            <div class="row">
                                <div class="col">
                                  <div class="input-group">
                                    <span class="input-group-text">Estatus</span>
                                    <select class="custom-select" name="lstSEEstatus" id="lstSEEstatus"></select>
                                  </div>
                                    <div class="input-group">
                                        <div class="input-group mb-1">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text bg-gradient-gray-dark" id="basic-addon2">Id</span>
                                            </div>
                                            <input type="text" class="form-control text-bold text-blue" id="IdServiciosEducativos" name = "IdServiciosEducativos" placeholder="" aria-label="IdServiciosEducativos" aria-describedby="basic-addon2" readonly>
                                          </div>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group mb-1">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text bg-gradient-gray-dark" id="basic-addon3">Código</span>
                                            </div>
                                            <input type="text" class="form-control text-bold text-blue" id="CodigoServiciosEducativos" name="CodigoServiciosEducativos" placeholder="" aria-label="CodigoServiciosEducativos" aria-describedby="basic-addon3">
                                          </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="DescripcionServiciosEducativos">Descripción</label>
                                      <textarea id="DescripcionServiciosEducativos" class="form-control" name="DescripcionServiciosEducativos" autofocus></textarea>
                                    </div>
                                </div>
                            </div>
                    </fieldset>
                </div>
              </div> <!-- ROW -->
            </div> <!-- CONTAINER -->
          </div> <!-- MODAL BODY -->
            <!-- footer modal -->
            <div class="modal-footer bg-gradient-cyan p-0">
              <button class="btn btn-default" data-bs-dismiss="modal" type="button">Cerrar</button>
              <input class="btn btn-primary" type="button" value="Guardar" name="goGuardarSe" id="goGuardarSe">
            </div>
        </form> <!-- from principal -->
	</div>
</div>
</div>
</div>			
</div>