<!-- VENTANA MODAL - MODIFICAR LA FECHA DE LA FACTURA -->
<div class="row mt-3">
<div class="col">
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="VentanaHorariosPeriodos" tabindex="-1" role="dialog" aria-labelledby="VentanaHorariosPeriodos" aria-hidden="true">
<div class="modal-dialog modal-md">
	<div class="modal-content">
		<div class="modal-header bg-gradient-navy p-1">
			<h6 class="modal-title" id="">
        <span class="fad fa-layer-group"></span>
          <label for="LblTituloHorarios">Horarios | </label>
      </h6>
			<button class="close" type = "button" data-dismiss="modal" aria-label="Cerrar" id="VentanaHorarios1">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<!-- FORMULARIO PRINCIPAL. -->
		<form action="" method="post" name="formVentanaHorarios" id="formVentanaHorarios" role="form" enctype="multipart/form-data">
      <!-- SECCION DEL HIDDEN INPUT-->
      <input type="hidden" id="accion_horarios" name="accion_horarios" value="GuardarHorarios">

			<div class="modal-body">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-12 col-lg-12 col-xl-12">
                <fieldset id="FieldsetBusquedaTiquete">
                    <legend> Horarios | Organización y Asignación</legend>
                        <div class="row">
                            <div class="col col-md-12 col-lg-12 col-xl-12">
                                <div class="input-group">
                                    <span class="input-group-text text-info" id="TextoAnnLectivoHorarios" name="TextoAnnLectivoHorarios">Año lectivo</span>
                                </div>
                                <div class="input-group">
                                  <span class="input-group-text text-info" id="TextoModalidadesHorarios" name="TextoModalidadesHorarios">Modalidad</span>
                              </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset id="FieldsetProduccion">
                        <legend> Horarios | Información General</legend>
                            <div class="row">
                                <div class="col">
                                  <div class="input-group">
                                    <span class="input-group-text">Estatus</span>
                                    <select class="custom-select" name="lstHorarios" id="lstHorarios"></select>
                                  </div>
                                  <div class="input-group">
                                    <span class="input-group-text">Períodos</span>
                                    <select class="custom-select" name="lstPeriodosHorarios" id="lstPeriodosHorarios"></select>
                                  </div>
                                    <div class="input-group">
                                        <div class="input-group mb-1">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text bg-gradient-gray-blue" id="basic-addon2">Id</span>
                                            </div>
                                            <input type="text" class="form-control text-bold" id="IdHorarios" name = "IdHorarios" placeholder="" aria-label="IdHorarios" aria-describedby="basic-addon2" readonly>
                                          </div>
                                    </div>
                                    <div class="input-group mb-1">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text bg-gradient-gray-dark" id="basic-addon6">Fecha Inicio</span>
                                      </div>
                                      <input type="date" min="1900-01-01" max="9999-12-31" class="form-control" id="FechaInicio" name="FechaInicio" placeholder="" aria-label="FechaInicio" aria-describedby="basic-addon6" autocomplete="nope">
                                    </div>
                                    <div class="input-group mb-1">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text bg-gradient-gray-dark" id="basic-addon7">Fecha Fin</span>
                                      </div>
                                      <input type="date" min="1900-01-01" max="9999-12-31" class="form-control" id="FechaFin" name="FechaFin" placeholder="" aria-label="FechaFin" aria-describedby="basic-addon7" autocomplete="nope">
                                    </div>
                                    <div class="input-group mb-1">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text bg-gradient-gray-dark" id="basic-addon8">Fecha Registro Académico</span>
                                      </div>
                                      <input type="date" min="1900-01-01" max="9999-12-31" class="form-control" id="FechaRA" name="FechaRA" placeholder="" aria-label="FechaRA" aria-describedby="basic-addon8" autocomplete="nope">
                                    </div>
                                </div>
                            </div>
                    </fieldset>
                </div>
              </div> <!-- ROW -->
            </div> <!-- CONTAINER -->
          </div> <!-- MODAL BODY -->
            <!-- footer modal -->
            <div class="modal-footer bg-gradient-cyan p-0">
              <button class="btn btn-default" data-dismiss="modal" type="button">Cerrar</button>
              <input class="btn btn-primary" type="button" value="Guardar" name="goGuardarHorarios" id="goGuardarHorarios">
            </div>
        </form> <!-- from principal -->
	</div>
</div>
</div>
</div>			
</div>