<!-- VENTANA MODAL - MODIFICAR LA FECHA DE LA FACTURA -->
<div class="row mt-3">
<div class="col">
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="VentanaDN" tabindex="-1" role="dialog" aria-labelledby="VentanaDN" aria-hidden="true">
<div class="modal-dialog modal-md">
	<div class="modal-content">
		<div class="modal-header bg-gradient-navy p-1">
			<h6 class="modal-title" id="">
        <span class="fad fa-layer-group"></span>
          <label for="LblTituloDN">Docente/Nivel | </label>
      </h6>
			<button class="close" type = "button" data-dismiss="modal" aria-label="Cerrar" id="VentanaDN1">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<!-- FORMULARIO PRINCIPAL. -->
		<form action="" method="post" name="formVentanaDN" id="formVentanaDN" role="form" enctype="multipart/form-data">
      <!-- SECCION DEL HIDDEN INPUT-->
      <input type="hidden" id="accion_dn" name="accion_dn" value="GuardarDN">

			<div class="modal-body">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-12 col-lg-12 col-xl-12">
                            <fieldset id="FieldsetBusquedaTiquete">
                                <legend> Docente/Nivel | Organización y Asignación</legend>
                                    <div class="row">
                                        <div class="col col-md-12 col-lg-12 col-xl-12">
                                            <div class="input-group">
                                                <span class="input-group-text text-info" id="TextoAnnLectivoDN" name="TextoAnnLectivoDN">Año lectivo</span>
                                            </div>
                                            <div class="input-group">
                                            <span class="input-group-text text-info" id="TextoModalidadesDN" name="TextoModalidadesDN">Modalidad</span>
                                        </div>
                                        </div>
                                    </div>
                            </fieldset>
                            <fieldset id="FieldsetProduccion">
                                <legend> Docente/Nivel | Información General</legend>
                                    <div class="row">
                                        <div class="col">
                                            <div class="input-group">
                                                <span class="input-group-text">Nombre del Docente</span>
                                                <select class="custom-select" name="lstDocenteNivel" id="lstDocenteNivel"></select>
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-text">Turno</span>
                                                <select class="custom-select" name="lstTurnoDN" id="lstTurnoDN"></select>
                                            </div>
                                        </div>
                                    </div>
                            </fieldset>
                        </div>
                    </div> <!-- ROW -->
                </div> <!-- CONTAINER -->
            </div> <!-- MODAL BODY -->
            <!-- footer modal -->
            <div class="modal-footer bg-gradient-cyan p-0">
                <button class="btn btn-default" data-dismiss="modal" type="button">Cerrar</button>
                <input class="btn btn-primary" type="button" value="Guardar" name="goActualizarDN" id="goActualizarDN">
            </div>
        </form> <!-- from principal -->
	</div>
</div>
</div>
</div>			
</div>