{# Heredando la plantilla principal #}

{% extends 'default_layout.html' %}

{% block extraCSS %}
  <link href="css/styles-loading.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="style.css"/> -->
  {% endblock %}

{% block javascripts %}
<script type="text/JavaScript">
  $(document).ready(function () { 
    $('[data-toggle="tooltip"]').tooltip();
  })
</script>
<script type="text/JavaScript" src="js/Mantenimiento/Organizacion Asignacion/Horarios Periodos.js"></script>
<script type="text/JavaScript" src="js/Mantenimiento/Organizacion Asignacion/Nivel.js"></script>
<script type="text/JavaScript" src="js/Mantenimiento/Organizacion Asignacion/GradoSeccionTurno.js"></script>
<script type="text/JavaScript" src="js/Mantenimiento/Organizacion Asignacion/DocenteNivel.js"></script>
<script type="text/JavaScript" src="js/Mantenimiento/Organizacion Asignacion/AsignarAsignaturaGrados.js"></script>
<!-- DEINIR EL AJAX START- STOP Y ERROR -->
<script>
  $(document).ready(function () { 
    var screen = $('#loading-screen');
      configureLoadingScreen(screen);
  })
</script>
<!-- DEFINIR PARA SERVICIO EDUCATIVO CARGAR DATOS-->
<script>
	// Carga la INformación de Tabla Año Lectivo.
	$(document).ready(function()
	{
			var miselect=$("#lstAnnLectivoHorarios");
			/* VACIAMOS EL SELECT Y PONEMOS UNA OPCION QUE DIGA CARGANDO... */
			miselect.find('option').remove().end().append('<option value="">Cargando...</option>').val('');
			
			$.post("includes/cargar-ann-lectivo.php",
				function(data) {
					miselect.empty();
					miselect.append("<option value='00'>Seleccionar...</option>");
					for (var i=0; i<data.length; i++) {
						miselect.append('<option value="' + data[i].codigo + '">' + data[i].nombre + '</option>');
					}
			}, "json");
   	// Información del año lectivo y modalidad.
	$(document).ready(function()
	{
    // Parametros para el lstmuncipio.
    $("#lstAnnLectivoHorarios").change(function ()
    {
          // ACTIVAR SELECT DEL AÑO LECTIVO
        $('#lstModalidadHorarios').prop('disabled',false);
          var miselect=$("#lstModalidadHorarios");
            /* VACIAMOS EL SELECT Y PONEMOS UNA OPCION QUE DIGA CARGANDO... */
            miselect.find('option').remove().end().append('<option value="">Cargando...</option>').val('');
          
          $("#lstAnnLectivoHorarios option:selected").each(function () {
            elegido=$(this).val();
                annlectivo=$("#lstAnnLectivoHorarios").val();
                $.post("includes/cargar-bachillerato.php", { annlectivo: annlectivo },
                function(data){
                        miselect.empty();
                        miselect.append("<option value='00'>Seleccionar...</option>");
                        for (var i=0; i<data.length; i++) {
                        miselect.append('<option value="' + data[i].codigo + '">' + data[i].descripcion + '</option>');
                        }
              }, "json");			
          });
    });
	});

	});
</script>
{% endblock %}

{% block contenidos %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-1">
          <div class="col-sm-6">
            <h4></h4>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="index.php">Home</a></li>
              <li class="breadcrumb-item active">Organización y Asignación</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="tab-content"> <!-- VALIDATE DE TODO EL DIV PARA LOS DIFERENTES INPUT'S -->
        <div class="row">
          <div class="col-12">
            <!-- INICIO DEL CARD-->
              <div class="card">
                <div class="card-header bg-gradient-navy">
                  <h3 class="card-title"><i class="fal fa-sitemap"></i> Organización y Asignación</h3>
                </div>
                    <!-- /.card-header -->
                    <div class="card-body m-1 p-1">
                      <!-- Nav tabs ASIGNATURA, MODALIDAD, GRADO, SECCION Y AÑO LECTIVO-->
                      <nav id="NavOrganizacionAsignacion">
                        <ul class="nav nav-pills mb-1 mt-1" id="pills-tab" role="list">
                          <li class="nav-item">
                            <a class="nav-link active" id="pills-horarios-tab" data-toggle="pill" href="#pills-horarios" role="tab" aria-controls="pills-horarios" aria-selected="true">Horarios</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="pills-modalidad-tab" data-toggle="pill" href="#pills-modalidad" role="tab" aria-controls="pills-modalidad" aria-selected="false">Nivel</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="pills-grados-secciones-tab" data-toggle="pill" href="#pills-grados-secciones" role="tab" aria-controls="pills-grados-secciones" aria-selected="false">Grado/Sección/Turno</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="pills-docentes-niveles-tab" data-toggle="pill" href="#pills-docentes-niveles" role="tab" aria-controls="pills-docentes-niveles" aria-selected="false">Docentes y Niveles</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="pills-asignaturs-niveles-tab" data-toggle="pill" href="#pills-asignaturas-niveles" role="tab" aria-controls="pills-asignaturas-niveles" aria-selected="false">Asignaturas/Niveles</a>
                          </li>
                        </ul>
                      </nav>
                      {# CONTENEDOR PRINCIPAL #}
                      <div class="tab-content" id="pills-tabContent">
                           <!-- NAV TAB ORGANIZACION. *INICIO*-->
                          <div class="tab-pane fade show active" id="pills-horarios" role="tabpanel" aria-labelledby="pills-horarios-tab">
                                <!-- botoneeras y alertas-->
                                <div class="bg-secondary text-white">
                                    <button type="button" id="goBuscarHorarios" aria-label="goBuscarHorarios" class="btn btn-info" tabindex="-1" data-toggle="tooltip" data-placement="top" title="Buscar">
                                      <i class="fal fa-search"></i>
                                    </button>
                                    <button type="button" id="goNuevoHorarios" aria-label="goNuevoHorarios" class="btn btn-primary" tabindex="-1" data-toggle="tooltip" data-placement="top" title="Nuevo">
                                      <i class="far fa-layer-plus"></i>
                                    </button>                                 
                                    {# TEXTO DE MENSAJE CON ALERT. #}
                                    <div class="alert alert-danger p-1 m-1" role="alert" id="AlertHorarios">
                                      <span id="TextoAlertHorarios">...</span>
                                    </div>
                                </div>

                              <!-- NAV TAB HOARIOS PARA CADA NIVEL *INICIO*-->
                              <form class="form" id="FormHorarios" name="FormHorarios">
                                <div class="row">
                                  <div class="col-md-3 col-lg-4 col-12">
                                    <div class="form-group">
                                      <label for="lstAnnLectivoHorarios">Año Lectivo</label>
                                      <select class="form-control mx-sm-3" id="lstAnnLectivoHorarios" name="lstAnnLectivoHorarios"></select>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <div class="col-md-9 col-lg-8 col-12">
                                      <label for="lstModalidadHorarios">Nivel</label>
                                      <select class="form-control mx-sm-3" id="lstModalidadHorarios" name="lstModalidadHorarios"></select>
                                    </div>
                                  </div>
                                </div>
                              </form>                                  
                                <!-- TABLA CON LOS DATOS DEL SERVICIO EDUCATIVO. -->  
                                    <div class="modal-body">
                                      <div class="row bg-cyan">
                                        <div class="col">
                                          <label for="">Horario de Períodos</label>
                                        </div>
                                      </div>
                                        <div class="col">
                                          <table id="listadoContenidoHorarios" class="table table-striped table-bordered table-hover table-condensed">
                                            <thead>
                                              <tr>
                                                <th><input type="checkbox" name="checkBoxAllHorarios" id="checkBoxAllHorarios" data-toggle="tooltip" data-placement="top" title="Marcar/Desmarcar Todo">
                                                  <button type="button" id="goEliminarHorarios" aria-label="goEliminarHorarios" class="btn btn-link" tabindex="-1" data-toggle="tooltip" data-placement="top" title="Eliminar Seleccionados...">
                                                    <i class="fad fa-trash"></i>
                                                  </button>
                                                </th>
                                                <th>#</th>
                                                <th>id</th>
                                                <th>Período</th>
                                                <th>Fecha Inicio</th>
                                                <th>Fecha Fin</th>
                                                <th>Fecha RA</th>
                                                <th>Estatus</th>
                                                <th></th>
                                              </tr>
                                            </thead>
                                              <tbody id="listaContenidoHorarios">
                                            
                                              </tbody>                            
                                            <tfoot>
                                            </tfoot>
                                        </table>
                                      </div>
                                    </div>
                                <!-- TABLA CON LOS DATOS DEL organizacion Horarios. --> 
                          </div>
                          <!-- NAV TAB ORGANIZACIONES DE NIVELES SEGUN AÑO LECTIVO *INICIO*-->
                          <div class="tab-pane fade" id="pills-modalidad" role="tabpanel" aria-labelledby="pills-modalidad-tab">
                            <!-- botoneeras y alertas-->
                            <div class="bg-secondary text-white">
                              <div class="form-group">
                                <button type="button" id="goBuscarModalidad" aria-label="goBuscarModalidad" class="btn btn-info" tabindex="-1" data-toggle="tooltip" data-placement="top" title="Buscar">
                                  <i class="fal fa-search"></i>
                                </button>
                                <button type="button" id="goGuardarModalidad" aria-label="goGuardarModalidad" class="btn btn-primary" tabindex="-1" data-toggle="tooltip" data-placement="top" title="Guardar">
                                  <i class="fal fa-save"></i>
                                </button>                                 
                              </div>
                                <div class="alert alert-danger p-1 m-1" role="alert" id="AlertModalidad">
                                  <span id="TextoAlertModalidad">...</span>
                                </div>
                            </div>
                               <!-- NAV TAB FORM - ORGANIZACION. NIVELES *INICIO*-->
                                <form class="form" id="FormModalidad" name="FormModalidad">
                                  <div class="row">
                                    <!-- PRIMER COL AÑO LECTIVO Y MODALIDAD-->
                                      <div class="col-md-4 col-lg-4 col-12">
                                        <div class="form-group">
                                          {# SELECT DEL AÑO LECTIVO #}
                                          <label for="lstAnnLectivoModalidad">Año Lectivo</label>
                                          <select class="form-control" id="lstAnnLectivoModalidad" name="lstAnnLectivoModalidad"></select>
                                        </div>
                                      </div>
                                      <!-- SEGUNDO COL SERVICIIO EDUCATIVO MODALIDAD-->
                                      <div class="col-md-4 col-lg-4 col-12">
                                        <div class="form-group">
                                          {# SELECT DEL NIVEL (MODALIDAD) #}
                                          <label for="lstModalidad">Nivel</label>
                                          <select class="form-control" id="lstModalidad" name="lstModalidad"></select>
                                        </div>
                                      </div>
                                      <!-- SEGUNDO COL SERVICIIO EDUCATIVO -->
                                      <div class="col-md-4 col-lg-4 col-12">
                                        <div class="form-group">
                                          {#SELECT DEL SERVICIO EDUCATIVO (COMPONENTES DE ESTUDIO) #}
                                          <label for="lstModalidadServicioEducativo">Servicio Educativo</label>
                                          <select class="form-control" id="lstModalidadServicioEducativo" name="lstModalidadServicioEducativo"></select>
                                        </div>
                                      </div>
                                      
                                  </div>
                                </form>
                              <!-- TABLA CON LOS DATOS DEL SERVICIO EDUCATIVO. -->  
                              <div class="bg-info text-white">_Asignación Modalidad (Niveles) según Año Lectivo_</div>
                                  <div class="modal-body">
                                        <table id="listadoContenidoModalidad" class="table table-striped table-bordered table-hover table-condensed">
                                          <thead>
                                            <tr>
                                              <th><input type="checkbox" name="checkBoxAllModalidad" id="checkBoxAllModalidad" data-toggle="tooltip" data-placement="top" title="Marcar/Desmarcar Todo">
                                                <button type="button" id="goEliminarModalidad" aria-label="goEliminarModalidad" class="btn btn-link" tabindex="-1" data-toggle="tooltip" data-placement="top" title="Eliminar Seleccionados...">
                                                  <i class="fad fa-trash"></i>
                                                </button>
                                              </th>
                                              <th>#</th>
                                              <th>id</th>
                                              <th>Código</th>
                                              <th>Descripción</th>
                                              <th>Servicio Educativo</th>
                                              <th></th>
                                            </tr>
                                          </thead>
                                            <tbody id="listaContenidoModalidad"></tbody>                            
                                          <tfoot>
                                          </tfoot>
                                      </table>
                                  </div> <!-- TABLA CON LOS DATOS DEL Organización niveles. --> 
                          </div> <!-- ***NAV TAB MODALIDAD FIN***-->
                          <div class="tab-pane fade" id="pills-grados-secciones" role="tabpanel" aria-labelledby="pills-grados-secciones-tab">
                              <!-- botoneeras y alertas-->
                              <div class="bg-secondary text-white">
                                <div class="form-group">
                                  <button type="button" id="goBuscarSeGST" aria-label="goBuscarSeGST" class="btn btn-info" tabindex="-1" data-toggle="tooltip" data-placement="top" title="Buscar">
                                    <i class="fal fa-search"></i>
                                  </button>
                                  <button type="button" id="goGuardarSeGST" aria-label="goGuardarSeGST" class="btn btn-primary" tabindex="-1" data-toggle="tooltip" data-placement="top" title="Guardar">
                                    <i class="fal fa-save"></i>
                                  </button>                                 
                                </div>
                                  <div class="alert alert-danger p-1 m-1" role="alert" id="AlertSeGST">
                                    <span id="TextoAlertSeGST">...</span>
                                  </div>
                              </div>
                              <!-- NAV TAB FORM - ORGANIZACION. NIVELES *INICIO*-->
                              <form class="form" id="FormSeGST" name="FormSeGST">
                                <div class="row">
                                  <!-- PRIMER COL AÑO LECTIVO Y MODALIDAD-->
                                    <div class="col-md-4 col-lg-4 col-12">
                                      <div class="form-group">
                                        {# SELECT DEL AÑO LECTIVO #}
                                        <label for="lstAnnLectivoSeGST">Año Lectivo</label>
                                        <select class="form-control" id="lstAnnLectivoSeGST" name="lstAnnLectivoSeGST"></select>
                                      </div>
                                    </div>
                                    <!-- SEGUNDO COL SERVICIIO EDUCATIVO MODALIDAD-->
                                    <div class="col-md-4 col-lg-4 col-12">
                                      <div class="form-group">
                                        {# SELECT DEL NIVEL (MODALIDAD) #}
                                        <label for="lstModalidad">Nivel</label>
                                        <select class="form-control" id="lstModalidadSeGST" name="lstModalidadSeGST" aria-label="lstModalidadSeGST"></select>
                                      </div>
                                    </div>
                                    <!-- SEGUNDO COL SERVICIO EDUCATIVO GRADO SECCION TURNO-->
                                    <div class="col-md-4 col-lg-4 col-12">
                                      <div class="form-group">
                                        {#SELECT DEL SERVICIO EDUCATIVO (COMPONENTES DE ESTUDIO) #}
                                        <label for="lstSeGST">Servicio Educativo</label>
                                        <select class="form-control" id="lstSeGST" name="lstSeGST" aria-label="lstSeGST"></select>
                                      </div>
                                    </div>
                                  <!-- PRIMER COL SERVICIIO EDUCATIVO GRADO-->
                                  <div class="col-md-4 col-lg-4 col-12">
                                    <div class="form-group">
                                      {# SELECT DEL GRADO #}
                                      <label for="lstGradoSeGST">Grado</label>
                                      <select class="form-control" id="lstGradoSeGST" name="lstGradoSeGST"></select>
                                    </div>
                                  </div>
                                  <!-- SEGUNDO COL SERVICIIO EDUCATIVO SECCION-->
                                  <div class="col-md-4 col-lg-4 col-12">
                                    <div class="form-group">
                                      {# SELECT DEL NIVEL (SECCION) #}
                                      <label for="lstSeccionSeGST">Seccción</label>
                                      <select class="form-control" id="lstSeccionSeGST" name="lstSeccionSeGST" aria-label="lstSeccionSeGST"></select>
                                    </div>
                                  </div>
                                  <!-- SEGUNDO COL SERVICIO EDUCATIVO GRADO SECCION TURNO-->
                                  <div class="col-md-4 col-lg-4 col-12">
                                    <div class="form-group">
                                      {#SELECT DEL SERVICIO EDUCATIVO (TURNO) #}
                                      <label for="lstTurnoGST">Turno</label>
                                      <select class="form-control" id="lstTurnoSeGST" name="lstTurnoSeGST" aria-label="lstTurnoSeGST"></select>
                                    </div>
                                  </div>
                                </div>
                              </form>
                              <!-- TABLA CON LOS DATOS DEL SERVICIO EDUCATIVO. -->  
                              <div class="bg-info text-white">_Asignación Servicio Educativo (Grado-Sección-Turno) según Año Lectivo_</div>
                              <div class="modal-body">
                                    <table id="listadoContenidoSeGST" class="table table-striped table-bordered table-hover table-condensed">
                                      <thead>
                                        <tr>
                                          <th><input type="checkbox" name="checkBoxAllSeGST" id="checkBoxAllSeGST" data-toggle="tooltip" data-placement="top" title="Marcar/Desmarcar Todo">
                                            <button type="button" id="goEliminarSeGST" aria-label="goEliminarSeGST" class="btn btn-link" tabindex="-1" data-toggle="tooltip" data-placement="top" title="Eliminar Seleccionados...">
                                              <i class="fad fa-trash"></i>
                                            </button>
                                          </th>
                                          <th>#</th>
                                          <th>id</th>
                                          <th>Modalidad</th>
                                          <th>Servicio Educativo</th>
                                          <th>Grado</th>
                                          <th>Sección</th>
                                          <th>Turno</th>
                                          <th></th>
                                        </tr>
                                      </thead>
                                        <tbody id="listaContenidoSeGST"></tbody>                            
                                      <tfoot>
                                      </tfoot>
                                  </table>
                              </div> <!-- TABLA CON LOS DATOS DEL Organización niveles. --> 
                          </div> <!-- NAV TAB grados-secciones FIN*-->
                          <div class="tab-pane fade" id="pills-docentes-niveles" role="tabpanel" aria-labelledby="pills-docentes-niveles-tab">
                            <!-- NAV TAB SECCION *INICIO*-->
                              <!-- botoneeras y alertas-->
                              <div class="bg-secondary text-white">
                                <div class="form-group">
                                  <button type="button" id="goBuscarDN" aria-label="goBuscarDN" class="btn btn-info" tabindex="-1" data-toggle="tooltip" data-placement="top" title="Buscar">
                                    <i class="fal fa-search"></i>
                                  </button>
                                  <button type="button" id="goGuardarDN" aria-label="goGuardarDN" class="btn btn-primary" tabindex="-1" data-toggle="tooltip" data-placement="top" title="Guardar">
                                    <i class="fal fa-save"></i>
                                  </button>                                 
                                </div>
                                  <div class="alert alert-danger p-1 m-1" role="alert" id="AlertDN">
                                    <span id="TextoAlertDN">...</span>
                                  </div>
                              </div>
                              <!-- NAV TAB FORM - ORGANIZACION. NIVELES *INICIO*-->
                              <form class="form" id="FormDN" name="FormDN">
                                <div class="row">
                                  <!-- PRIMER COL AÑO LECTIVO Y MODALIDAD-->
                                    <div class="col-md-4 col-lg-4 col-12">
                                      <div class="form-group">
                                        {# SELECT DEL AÑO LECTIVO #}
                                        <label for="lstAnnLectivoDN">Año Lectivo</label>
                                        <select class="form-control" id="lstAnnLectivoDN" name="lstAnnLectivoDN" aria-label="lstAnnlectivoDN"></select>
                                      </div>
                                    </div>
                                    <!-- SEGUNDO COL SERVICIIO EDUCATIVO MODALIDAD-->
                                    <div class="col-md-4 col-lg-4 col-12">
                                      <div class="form-group">
                                        {# SELECT DEL NIVEL (MODALIDAD) #}
                                        <label for="lstModalidadDN">Nivel</label>
                                        <select class="form-control" id="lstModalidadDN" name="lstModalidadDN" aria-label="lstModalidadDN"></select>
                                      </div>
                                    </div>
                                  <!-- SEGUNDO COL SERVICIO EDUCATIVO GRADO SECCION TURNO-->
                                  <div class="col-md-4 col-lg-4 col-12">
                                    <div class="form-group">
                                      {#SELECT DEL SERVICIO EDUCATIVO (nombre del Docente) #}
                                      <label for="lstDocenteNivel">Docente</label>
                                      <select class="form-control" id="lstDocenteNivel" name="lstDocenteNivel" aria-label="lstDocenteNivel"></select>
                                    </div>
                                  </div>
                                  <!-- SEGUNDO COL SERVICIO EDUCATIVO GRADO SECCION TURNO-->
                                  <div class="col-md-4 col-lg-4 col-12">
                                    <div class="form-group">
                                      {#SELECT DEL SERVICIO EDUCATIVO (TURNO) #}
                                      <label for="lstTurnoDN">Turno</label>
                                      <select class="form-control" id="lstTurnoDN" name="lstTurnoDN" aria-label="lstTurnoDN"></select>
                                    </div>
                                  </div>
                                </div>
                              </form>
                              <!-- TABLA CON LOS DATOS DEL SERVICIO EDUCATIVO. -->  
                              <div class="bg-info text-white">_Asignación Servicio Educativo (Docente / Nivel) según Año Lectivo_</div>
                              <div class="modal-body">
                                    <table id="listadoContenidoDN" class="table table-striped table-bordered table-hover table-condensed">
                                      <thead>
                                        <tr>
                                          <th><input type="checkbox" name="checkBoxAllDN" id="checkBoxAllDN" data-toggle="tooltip" data-placement="top" title="Marcar/Desmarcar Todo">
                                            <button type="button" id="goEliminarDN" aria-label="goEliminarDN" class="btn btn-link" tabindex="-1" data-toggle="tooltip" data-placement="top" title="Eliminar Seleccionados...">
                                              <i class="fad fa-trash"></i>
                                            </button>
                                          </th>
                                          <th>#</th>
                                          <th>id</th>
                                          <th>Modalidad</th>
                                          <th>Docente</th>
                                          <th>Turno</th>
                                          <th></th>
                                        </tr>
                                      </thead>
                                        <tbody id="listaContenidoDN"></tbody>                            
                                      <tfoot>
                                      </tfoot>
                                  </table>
                              </div> <!-- TABLA CON LOS DATOS DEL Organización niveles. --> 
                          </div> <!-- NAV TAB docentes-niveles FIN*-->
                          <div class="tab-pane fade" id="pills-asignaturas-niveles" role="tabpanel" aria-labelledby="pills-asignaturas-niveles-tab">
                            <!-- NAV TAB ASIGNAR ASIGNATURAS A GRADOS *INICIO*-->
                              <!-- botoneeras y alertas-->
                              <div class="bg-secondary text-white">
                                <div class="form-group">
                                  <button type="button" id="goBuscarAAG" aria-label="goBuscarAAG" class="btn btn-info" tabindex="-1" data-toggle="tooltip" data-placement="top" title="Buscar">
                                    <i class="fal fa-search"></i>
                                  </button>
                                  <button type="button" id="goGuardarAAG" aria-label="goGuardarAAG" class="btn btn-primary" tabindex="-1" data-toggle="tooltip" data-placement="top" title="Guardar">
                                    <i class="fal fa-save"></i>
                                  </button>                                 
                                </div>
                                  <div class="alert alert-danger p-1 m-1" role="alert" id="AlertAAG">
                                    <span id="TextoAlertAAG">...</span>
                                  </div>
                              </div>
                              <!-- NAV TAB FORM - ORGANIZACION. NIVELES *INICIO*-->
                              <form class="form" id="FormAAG" name="FormAAG">
                                <div class="row">
                                  <!-- PRIMER COL AÑO LECTIVO Y MODALIDAD-->
                                    <div class="col-md-4 col-lg-4 col-12">
                                      <div class="form-group">
                                        {# SELECT DEL AÑO LECTIVO #}
                                        <label for="lstAnnLectivoAAG">Año Lectivo</label>
                                        <select class="form-control" id="lstAnnLectivoAAG" name="lstAnnLectivoAAG" aria-label="lstAnnlectivoAAG"></select>
                                      </div>
                                    </div>
                                    <!-- SEGUNDO COL SERVICIIO EDUCATIVO MODALIDAD-->
                                    <div class="col-md-4 col-lg-4 col-12">
                                      <div class="form-group">
                                        {# SELECT DEL NIVEL (MODALIDAD) #}
                                        <label for="lstModalidadAAG">Nivel</label>
                                        <select class="form-control" id="lstModalidadAAG" name="lstModalidadAAG" aria-label="lstModalidadAAG"></select>
                                      </div>
                                    </div>
                                  <!-- SEGUNDO COL SERVICIO EDUCATIVO GRADO SECCION TURNO-->
                                  <div class="col-md-4 col-lg-4 col-12">
                                    <div class="form-group">
                                      {#SELECT DEL SERVICIO EDUCATIVO (GRADO) #}
                                      <label for="lstGradoAAG">Grado</label>
                                      <select class="form-control" id="lstGradoAAG" name="lstGradoAAG" aria-label="lstGradoAAG"></select>
                                    </div>
                                  </div>
                                  <!-- SEGUNDO COL SERVICIO EDUCATIVO GRADO SECCION TURNO-->
                                  <div class="col-md-4 col-lg-4 col-12">
                                    <div class="form-group">
                                      {#SELECT DEL SERVICIO EDUCATIVO (ASIGNATURA) #}
                                      <label for="lstAAG">Componente del Plan de Estudio</label>
                                      <select class="form-control" id="lstAAG" name="lstAAG" aria-label="lstAAG"></select>
                                    </div> 
                                    <div class="form-group form-check">
                                      <input type="checkbox" class="form-check-input" id="TodasLasAsignaturas" name="TodasLasAsignaturas" aria-label="TodasLasAsignaturas">
                                        <label class="form-check-label" for="TodasLasAsignaturas">Todas las asignaturas.</label>
                                    </div>                                  
                                  </div>
                                </div>
                              </form>
                              <!-- TABLA CON LOS DATOS DEL SERVICIO EDUCATIVO. -->  
                              <div class="bg-info text-white">_Asignación Servicio Educativo (Asignaturas) según Año Lectivo_</div>
                              <div class="modal-body">
                                    <table id="listadoContenidoAAG" class="table table-striped table-bordered table-hover table-condensed">
                                      <thead>
                                        <tr>
                                          <th><input type="checkbox" name="checkBoxAllAAG" id="checkBoxAllAAG" data-toggle="tooltip" data-placement="top" title="Marcar/Desmarcar Todo">
                                            <button type="button" id="goEliminarAAG" aria-label="goEliminarAAG" class="btn btn-link" tabindex="-1" data-toggle="tooltip" data-placement="top" title="Eliminar Seleccionados...">
                                              <i class="fad fa-trash"></i>
                                            </button>
                                          </th>
                                          <th>#</th>
                                          <th>id</th>
                                          <th>Area/Dimensión/SubDimensión</th>
                                          <th>Componente del Plan de Estudio</th>
                                          <th>Orden</th>
                                          <th></th>
                                        </tr>
                                      </thead>
                                        <tbody id="listaContenidoAAG"></tbody>                            
                                      <tfoot>
                                      </tfoot>
                                  </table>
                              </div> <!-- TABLA CON LOS DATOS DEL Organización niveles. --> 
                          </div> <!-- NAV TAB asignaturas-niveles FIN*-->
                      </div>
                    </div> <!-- CARD BODY-->
                <div class="card-footer"></div>
              </div> <!-- /.card -->
            <!-- FIN DEL CARD-->
          </div><!-- /.col -->
        </div> <!-- /.ROW -->
      </div> <!-- /. tab-content-->
    </div> <!-- /. CONTAINER FLUID-->
  </section>
  </div> <!-- CONTENT WRAPPER-->
<!-- Loading Screen -->
  {% include 'loading-screen.html' %}
<!-- plantilla que contiene el . -->
  {% include 'Mantenimiento/Organizacion/VentanaHorariosPeriodos.html' %}  
  {% include 'Mantenimiento/Organizacion/VentanaGradoSeccionTurno.html' %}  
  {% include 'Mantenimiento/Organizacion/VentanaDocenteNivel.html' %}  
  {% include 'Mantenimiento/Organizacion/VentanaAsignarAsignaturaGrados.html' %}  

<!-- FINAL DEL BLOQUE DE CONTENIDO.-->
{% endblock %}  

{% block menu %}
<!-- plantilla que contiene el menú principal. -->
		{% include 'layout-menu.html' %}
{% endblock %}

{% block loginUser %}
<!--	{% include 'layout-login-user.html' %} -->
{% endblock %}